doctype html
html
	head
		include particles/meta_block.jade
		block page_title
		block page_styles
			link(rel='stylesheet',href='../assets/styles/min.css')

block content

		block scripts
			script(src='../assets/scripts/min.js')
