@media all and (max-width: 1279px) {

.clients_and_partners {
	width: 100%;
	height: auto;
	margin: 0 0 50px 0;
}

.clients_and_partners ul {
	width: 90%;
	height: 24.5vw;
	margin: 3.5% auto 0 auto;
}

}

@media all and (max-width: 767px) {

.clients_and_partners {
	width: 100%;
	height: auto;
	margin: 0 0 50px 0;
}

.clients_and_partners h2 {
	padding: 7.3% 0 0 0;
	font-size: 30px;
	text-align: center;
}


.clients_and_partners ul {
	width: 90%;
	height: auto;
	margin: 25px auto 0 auto;
}

.clients_and_partners ul li {
	width: 50%;
	height: 26vw;
	float: left;
	background-size: 100% 100% !important;
}

}