@media all and (max-width: 1279px) {

header {
	height: auto;
	background-size: auto 105%;
}

header * {
	position: static !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
}

.header_top {
	padding: 70px 0 0 0 !important;
}

.header_top .logo {
	width: 270px;
	height: 150px;
	background-position: center top;
	display: block !important;
	float: left !important;
	margin-left: 20px !important;
	background-size: 100% auto;
}

.header_top nav {
	width: 270px;
	height: 155px;
	margin: 0 30px 0 0 !important;
	display: block !important;
	float: right !important;
	position: relative !important;
}

.header_top:after {
	content: "";
	width: 100%;
	display: block;
	clear: both;
}

.header_top .lang {
	width: 130px;
	height: 40px;
	position: absolute !important;
	right: 50px;
	top: 0;
	z-index: 10;
}

.header_top .navigation {
	width: 257px;
	height: auto;
	position: absolute !important;
	left: 0px;
	top: 46px;
	background: #94c9e9;
	z-index: 5;
	border: 1px #3e9dd7 solid;
	transform: scale(0);
	transform-origin: 100% 0;
	transition: transform 0.3s;
}

.header_top .menu_open {
	transform: scale(1);
}

.header_top .navigation li {
	display: block;
	margin: 0 !important;
	text-align: center;
	font-size: 18px;
	line-height: 2;
	color: black;
	border-bottom: 1px #3e9dd7 solid;
}

.header_top .navigation li:last-of-type {
	border-bottom: none;
}

.header_top .lang a {
	width: 50px;
	line-height: 37px;
}

.header_top .lang a:nth-of-type(2) {
	line-height: 41px;
}

.mobile_menu_logo {
	width: 42px;
	height: 40px;
	position: absolute !important;
	right: 0;
	top: 0;
	z-index: 10;
	cursor: pointer;
}

.mobile_menu_logo:after {
	content: "";
	width: 42px;
	height: 8px;
	position: absolute !important;
	left: 0;
	top: 0;
	background: #3e9dd7;
	box-shadow: 0 16px 0 #3e9dd7,
				0 31px 0 #3e9dd7;
	border-radius: 5px;
	transform-origin: 0 0;
	transition: all 0.3s;
}

.logo_closed:after {
	background: #94c9e9;
	box-shadow: none;
	transform: rotate(45deg);
}

.mobile_menu_logo:before {
	content: "";
	width: 42px;
	height: 8px;
	position: absolute !important;
	left: -17px;
	top: 0;
	background: #94c9e9;
	border-radius: 5px;
	transform-origin: 100% 0;
	transition: transform 0.3s;
	opacity: 0;
}

.logo_closed:before {
	transform: rotate(-45deg);
	opacity: 1;
}

.header_top nav .feedback {
	width: 100%;
	height: 100%;
	position: absolute !important;
	right: 0;
	bottom: 0;
}

.header_top nav .feedback aside {
	max-width: none;
	position: absolute !important;
	right: 0;
	top: 100px;
}

.header_top nav .feedback aside * {
	display: inline-block !important;
	float: right !important;
}

.header_top nav .feedback .feedback_mail {
	width: 85px;
	height: 38px;
	background-size: auto 60%;
	background-position: center center;
	color: transparent;
	position: absolute !important;
	left: 0;
	top: 0;
}

.header_top nav .feedback .feedback_mail:hover {
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: auto 60%;
}

/* Header_top eng */

.eng .header_top .logo {
	width: 270px;
	height: 150px;
	background-position: center top;
	display: block !important;
	float: left !important;
	margin-left: 20px !important;
	background-size: 100% auto;
}

.eng .header_top .lang a {
	width: 50px;
	line-height: 37px !important;
}

.eng .header_top .lang a:nth-of-type(1) {
	line-height: 41px !important;
}

}


@media all and (max-width: 767px) {

header {
	height: auto;
	background-size: auto 105%;
}

header * {
	position: static !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
}

.header_top {
	padding: 20px 0 0 0 !important;
}

.header_top .logo {
	width: 80%;
	height: 45vw;
	background-position: center top;
	display: block !important;
	float: none !important;
	margin: 0 auto !important;
	background-size: 100% auto;
}

.header_top nav {
	width: 270px;
	height: 155px;
	margin: 10px 9% 0 0 !important;
	display: block !important;
	float: right !important;
	position: relative !important;
}

.header_top:after {
	content: "";
	width: 100%;
	display: block;
	clear: both;
}

.header_top .lang {
	width: 140px;
	height: 40px;
	position: absolute !important;
	right: 20px;
	top: 0;
	z-index: 10;
}

.header_top .navigation {
	width: 245px;
	height: auto;
	position: absolute !important;
	left: 12px;
	top: 46px;
	background: #94c9e9;
	z-index: 5;
	border: 1px #3e9dd7 solid;
	transform: scale(0);
	transform-origin: 100% 0;
	transition: transform 0.3s;
}

.header_top .menu_open {
	transform: scale(1);
}

.header_top .navigation li {
	display: block;
	margin: 0 !important;
	text-align: center;
	font-size: 18px;
	line-height: 2;
	color: black;
	border-bottom: 1px #3e9dd7 solid;
}

.header_top .navigation li:last-of-type {
	border-bottom: none;
}

.header_top .lang {
	left: 107px;
	width: 120px;
}

.header_top .lang a {
	width: 50px;
	line-height: 37px;
}

.header_top .lang a:nth-of-type(2) {
	line-height: 41px;
	margin-left: 7px !important;
}

.mobile_menu_logo {
	width: 42px;
	height: 40px;
	position: absolute !important;
	right: 0;
	top: 0;
	z-index: 10;
	cursor: pointer;
}

.mobile_menu_logo:after {
	content: "";
	width: 42px;
	height: 8px;
	position: absolute !important;
	left: 0;
	top: 0;
	background: #3e9dd7;
	box-shadow: 0 16px 0 #3e9dd7,
				0 31px 0 #3e9dd7;
	border-radius: 5px;
	transform-origin: 0 0;
	transition: all 0.3s;
}

.logo_closed:after {
	background: #94c9e9;
	box-shadow: none;
	transform: rotate(45deg);
}

.mobile_menu_logo:before {
	content: "";
	width: 42px;
	height: 8px;
	position: absolute !important;
	left: -17px;
	top: 0;
	background: #94c9e9;
	border-radius: 5px;
	transform-origin: 100% 0;
	transition: transform 0.3s;
	opacity: 0;
}

.logo_closed:before {
	transform: rotate(-45deg);
	opacity: 1;
}

.header_top nav .feedback {
	width: 100%;
	height: 100%;
	position: absolute !important;
	right: 0;
	bottom: 0;
}

.header_top nav .feedback aside {
	max-width: none;
	position: absolute !important;
	right: 0;
	top: 55px;
}

.header_top nav .feedback aside * {
	display: inline-block !important;
	float: right !important;
}

.header_top nav .feedback .feedback_mail {
	width: 85px;
	height: 38px;
	background-size: auto 60%;
	background-position: center center;
	color: transparent;
	position: absolute !important;
	left: 12px;
	top: 0;
}

.header_top nav .feedback .feedback_mail:hover {
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: auto 60%;
}

/* Header_top eng */

.eng .header_top .logo {
	width: 80%;
	height: 45vw;
	background-position: center top;
	display: block !important;
	float: none !important;
	margin: 0 auto !important;
	background-size: 100% auto;
}

.eng .header_top .lang a {
	width: 50px;
	line-height: 37px !important;
}

.eng .header_top .lang a:nth-of-type(1) {
	line-height: 41px !important;
}

}