@media all and (max-width: 1279px) {

.review h2:before {
	content: "";
	width: 2000px;
	height: 3px;
	position: absolute;
	left: -1850px;
	top: 18px;
	background: black;
}

.review h2:after {
	content: "";
	width: 2000px;
	height: 3px;
	position: absolute;
	right: -1850px;
	top: 18px;
	background: black;
}

.review article {
	width: 90% !important;
	min-height: 200px !important;
	float: none !important;
	margin: 0 0 2.4% 5% !important;
	position: relative !important;
	padding: 1.3% 0 0 200px !important;
	text-align: left !important;
	line-height: 1.3 !important;
}

.review article:before {
	content: "";
	width: 173px;
	height: 173px;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 100% 100% !important;
	border-radius: 50%;
}

.review article span {
	display: block;
	color: #959595;
}

.review article span:first-of-type {
	margin-top: 5.7%;
}

.review article:last-of-type:after {
    content: '';
    height: 1%;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.reviews_block:after {
    content: "";
    display: block;
    clear: both;
}


.show_more {
	width: 40.5%;
	height: 60px;
	margin: -0.5% auto 8% auto;
	line-height: 55px;
	font-size: 24px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.more_reviews {
	height: 0;
	overflow: hidden;
	transition: all 1s;
}

}


@media all and (max-width: 767px) {

.review {
	position: relative;
	top: 20px;
}

.review h2 {
	position: relative;
	top: 10px;
	font-size: 30px;
}

.review h2:before {
	display: none;
}

.review h2:after {
	display: none;
}

.review article {
	width: 90% !important;
	min-height: 200px !important;
	float: none !important;
	margin: 0 0 30px 5% !important;
	position: relative !important;
	padding: 0 0 0 90px !important;
	text-align: left !important;
	line-height: 1.3 !important;
}

.review article:before {
	content: "";
	width: 73px;
	height: 73px;
	position: absolute;
	left: 0;
	top: 5px;
	background-size: 100% 100% !important;
	border-radius: 50%;
}

.review article span {
	display: block;
	color: #959595;
}

.review article span:first-of-type {
	margin-top: 5.7%;
}

.review article:last-of-type:after {
    content: '';
    height: 1%;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.reviews_block:after {
    content: "";
    display: block;
    clear: both;
}

.show_more {
	width: 80%;
	height: 50px;
	margin: -0.5% auto 8% auto;
	line-height: 45px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	z-index: 50;
}

.more_reviews {
	height: 0;
	overflow: hidden;
	transition: all 1s;
}

}