@media all and (max-width: 1279px) {

.services {
	width: 100%;
	height: auto;
	text-align: center;
}

.services article {
	width: 48.8%;
	min-height: 500px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-align: left;
	padding: 0.4% 0 0 5%;
}

.services article:before {
	content: "";
	width: 130px !important;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -65px;
	background: red;
	background-size: 100% auto !important;
}

.services article h3 {
	max-height: 90px;
	position: absolute;
	top: 150px;
	font-size: 24px;
	overflow: hidden;
}

.services article ul {
	position: absolute;
	top: 250px;
	font-size: 14px;
}

}


@media all and (max-width: 767px) {

.services {
	width: 100%;
	height: auto;
	text-align: center;
}

.services h2 {
	font-size: 30px;
}

.services article {
	width: 90%;
	min-height: 0;
	height: auto;
	display: block !important;
	padding: 100px 0 0 0;
	margin: 0 auto 30px auto !important;
	position: relative;
	overflow: hidden;
	text-align: left;
}

.services article:nth-of-type(2) {
	padding: 65px 0 0 0;
}

.services article:before {
	content: "";
	width: 90px !important;
	height: 90px;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 0;
	background: red;
	background-size: 100% auto !important;
}

.services article:nth-of-type(2):before {
	height: 60px;
}

.services article h3 {
	max-height: none;
	position: static;
	top: 110px;
	font-size: 24px;
	overflow: visible;
}

.services article ul {
	position: static;
	margin-top: 10px;
	font-size: 14px;
}

}