@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);

/* Basic */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

main {
	width: 240px;
	height: 400px;
	background: url(../images/global/background.jpg);
	position: relative;
	overflow: hidden;
}

/* Basic end */


/* Frame 1 */

.basic_yellow {
	width: 195px;
	height: 70px;
	background: yellow;
	position: absolute;
	top: 15px;
	left: 22px;
	animation: basic_yellow_anim 15s infinite forwards;
	overflow: hidden;
	z-index: 5;
}

@keyframes basic_yellow_anim {
	0% {left: 250px;}

	3.67% {left: 22px;}

	100% {
		left: 22px;
	}
}

.header_1 {
	width: 195px;
	height: 70px;
	background: url(../images/frame_1/header_text_1.png);
	animation: header_1_anim 15s infinite forwards;
	position: absolute;
}

@keyframes header_1_anim {

	21.67% {
		opacity: 1;
		left: 0px;
	}
	26.67% {
		opacity: 0;
		left: -40px;
	}
	100% {
		opacity: 0;
		left: -40px;
	}
}

.prestigio_10 {
	width: 240px;
	height: 400px;
	background: url(../images/frame_1/prestigio_10.png);
	position: absolute;
	left: 240px;
	animation: prestigio_10_anim 15s infinite forwards;
}

@keyframes prestigio_10_anim {
	0%{ left: 240px; }

	3.67%{ left: 0px; }

	22.67% {
		left: 0px;
	}

	26.67% {
		left: -240px;
	}

	100%{ left: -240px; }
}

.logo {
	width: 120px;
	height: 26px;
	background: url(../images/global/logo.jpg);
	position: absolute;
	bottom: 15px;
}

.big_screen {
	width: 220px;
	height: 16px;
	background: url(../images/frame_1/big_screen.png);
	position: absolute;
	bottom: 40px;
	left: 10px;
	opacity: 0;
	animation: big_screen_anim 15s infinite forwards;
}

@keyframes big_screen_anim {

	3.67%{ opacity: 1; bottom: 50px; }

	22.67% {
		opacity: 1;
		bottom: 50px;
	}

	26.67% {
		opacity: 0;
		bottom: 40px;
	}

	100%{ opacity: 0; bottom: 40px; }
}

/* Frame 1 end */

/* Frame 2 */

.header_2 {
	width: 195px;
	height: 70px;
	background: url(../images/frame_2/header_text_2.png);
	animation: header_2_anim 15s infinite forwards;
	position: absolute;
	left: 0px;
	opacity: 0;
}

@keyframes header_2_anim {

	21.67% {
		opacity: 0;
		left: 40px;
	}
	26.67% {
		opacity: 1;
		left: 0px;
	}
	41% {
		opacity: 1;
		left: 0px;
	}
	46% {
		opacity: 0;
		left: -40px;
	}
	100% {
		opacity: 0;
		left: -40px;
	}
}

.samsung {
	width: 240px;
	height: 400px;
	background: url(../images/frame_2/samsung.png);
	position: absolute;
	left: 240px;
	animation: samsung_anim 15s infinite forwards;
}

@keyframes samsung_anim {
	0%{ left: 240px; }

	22.67% {
		left: 240px;
	}

	26.67% {
		left: 0;
	}

	41% {
		left: 0;
	}

	46% {
		left: -240px;
	}

	100%{ left: -240px; }
}

.balance {
	width: 220px;
	height: 16px;
	background: url(../images/frame_2/balance.png);
	position: absolute;
	bottom: 40px;
	left: 10px;
	opacity: 0;
	animation: balance_anim 15s infinite forwards;
}

@keyframes balance_anim {

	22.67% { opacity: 0; bottom: 40px; }

	26.67% {
		opacity: 1;
		bottom: 50px;
	}

	41% {
		opacity: 1;
		bottom: 50px;
	}

	46% {
		opacity: 0;
		bottom: 40px;
	}

	100%{ opacity: 0; bottom: 40px; }
}

/* Frame 2 end*/


/* Frame 3 */

.header_3 {
	width: 195px;
	height: 70px;
	background: url(../images/frame_3/header_text_3.png);
	animation: header_3_anim 15s infinite forwards;
	position: absolute;
	left: 0px;
	opacity: 0;
}

@keyframes header_3_anim {
	41% {
		opacity: 0;
		left: 40px;
	}
	46% {
		opacity: 1;
		left: 0;
	}
	65.3% {
		opacity: 1;
		left: 0;
	}
	69.3% {
		opacity: 0;
		left: -40px;
	}
	100% {
		opacity: 0;
		left: -40px;
	}
}

.prestigio_8 {
	width: 240px;
	height: 400px;
	background: url(../images/frame_3/prestigio_8.png);
	position: absolute;
	left: 240px;
	animation: prestigio_8_anim 15s infinite forwards;
}

@keyframes prestigio_8_anim {

	41% {
		left: 240px;
	}

	46% {
		left: 0;
	}

	65.3% {
		left: 0;
	}

	69.3% {
		left: -240px;
	}

	100%{ left: -240px; }
}

.office_free {
	width: 220px;
	height: 16px;
	background: url(../images/frame_3/office_free.png) no-repeat;
	background-position: center;
	position: absolute;
	bottom: 40px;
	left: 10px;
	opacity: 0;
	animation: office_free_anim 15s infinite forwards;
}

@keyframes office_free_anim {
	41% { opacity: 0; bottom: 40px; }

	46% {
		opacity: 1;
		bottom: 50px;
	}

	65.3% {
		opacity: 1;
		bottom: 50px;
	}

	69.3% {
		opacity: 0;
		bottom: 40px;
	}

	100%{ opacity: 0; bottom: 40px; }
}

/* Frame 3 end */


/* Frame 4 */

.header_4 {
	width: 195px;
	height: 70px;
	background: url(../images/frame_4/header_text_4.png);
	animation: header_4_anim 15s infinite forwards;
	position: absolute;
	left: 0px;
	opacity: 0;
}

@keyframes header_4_anim {
	65.3% {
		opacity: 0;
		left: 40px;
	}
	69.3% {
		opacity: 1;
		left: 0;
	}
	89% {
		opacity: 1;
		left: 0;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

.device_1 {
	width: 90px;
	height: 142px;
	background: url(../images/frame_1/prestigio_10.png) no-repeat;
	background-size: 170%;
	background-position: 50% 60%;
	position: absolute;
	left: -100px;
	top: 145px;
	animation: device_1_anim 15s infinite forwards;
}

@keyframes device_1_anim {
	65.3% {
		left: -100px;
	}

	69.3% {
		left: 14px;
	}

	100%{ left: 14px;}
}

.device_2 {
	width: 90px;
	height: 142px;
	background: url(../images/frame_2/samsung.png) no-repeat;
	background-size: 170%;
	background-position: 50% 60%;
	position: absolute;
	left: 250px;
	top: 145px;
	animation: device_2_anim 15s infinite forwards;
}

@keyframes device_2_anim {
	65.3% {
		left: 250px;
	}

	69.3% {
		left: 138px;
	}

	100%{ left: 138px;}
}

.device_3 {
	width: 93px;
	height: 143px;
	background: url(../images/frame_3/prestigio_8.png) no-repeat;
	background-size: 187%;
	background-position: 52% 58%;
	position: absolute;
	left: 80px;
	top: 180px;
	opacity: 0;
	animation: device_3_anim 15s infinite forwards;
}

@keyframes device_3_anim {
	65.3% {
		opacity: 0;
	}

	69.3% {
		opacity: 1;
	}

	100%{ opacity: 1;}
}


/* Frame 4 end */


/***** Description *****/


html, body {
	width: 100%;
	height: 100%;
	background: #5c97bf !important;
}

main {
	margin: -200px 0 0 -120px !important;
	position: absolute !important;
	left: 50% !important;
	top: 50% !important;
}

.description {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: opacity 0.5s, transform 0.5s 0.5s;
}

.description_hide {
	opacity: 0;
	transform: translateY(-100%);
}

.description h5 {
	padding: 7px 0;
	background: #b2cee1;
	font-weight: 300;
	color: black;
}

.description h5 a {
	color: inherit;
	text-decoration: none;
}

.description .close_icon {
	width: 10px;
	height: 10px;
	display: inline-block;
	position: absolute;
	right: 24px;
	top: 12px;
	cursor: pointer;
}

.description .close_icon:after {
	content: '';
	width: 15px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	transform: rotateZ(45deg);
	transform-origin: 0 0;
}

.description .close_icon:before {
	content: '';
	width: 15px;
	height: 1px;
	position: absolute;
	right: 0;
	top: 0;
	background: black;
	transform: rotateZ(-45deg);
	transform-origin: 100% 0;
}

.description .close_icon:hover:after,
.description .close_icon:hover:before {
	background: red;
}


/***** Description *****/




