@media all and (max-width: 1314px) {

	.menu_block {
		max-width: 63px;
	}

	.open_menu {
		max-width: 10000px !important;
	}

	.menu_logo span {
		right: 18px;
		background: #e18432;
		box-shadow: 0 0 3px white, 0 0 3px grey;
	}

	.menu_block > ul {
		left: 18px;
	}

	.open_menu > ul {
		display: block;
	}

	.menu_block > ul > li:after {
		left: 18px;
	}

	.menu_block ul li:hover h5 {
		display: none;
	}

}

@media all and (max-width: 767px) {

	.menu_block *,
	.menu_block {
		transition: none !important;
	}

	.menu_block {
		min-width: 60px;
		height: 0;
		background: none;
		padding: 0px 0 0 0;
	}

	.menu_logo:before {
		display: none;
	}

	.menu_logo {
		padding: 50px 0 0 0;
	}

	.menu_logo span {
		right: 26px;
	}

	.menu_block > ul {
		left: 18px;
		background: #2e3046;
		display: none;
	}

	.open_menu {
		height: 100vh;
		background: #2e3046;
	}

	.open_menu .menu_logo {
		background: #2e3046;
	}

	.open_menu .menu_logo:before {
		display: block;
	}

	.open_menu > ul {
		display: block;
	}

	.menu_block > ul > li:after {
		left: 18px;
	}

	.menu_block ul li:hover h5 {
		display: none;
	}

}