

/***** Basic *****/

 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}


* {
    box-sizing: border-box;
    border: none;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
}

.main_flex_block {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.main_page > * {
    position: relative;
    left: 35px;
}

::selection {
    background: white;
}

*,
*:focus,
*:checked,
*::selection,
*:target {
    outline: none;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

a, a:visited {
	color: white;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}


/* Custom scroll-bar for -webkit- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #2e3046;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #e18432;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 5px;
}

/* Custom scroll-bar for IE */
html, body {
    scrollbar-3dlight-color: #2e3046; 
    scrollbar-arrow-color: #2e3046;
    scrollbar-highlight-color: #2e3046;
    scrollbar-face-color: #e18432;
    scrollbar-shadow-color: #2e3046;
    scrollbar-darkshadow-color: #e18432;
    scrollbar-track-color: #2e3046;
}

  
/***** Basic end *****/
