$path-color : black;
$eyes-color: black;
$light-color : red;
$text-color : red;
$accent-color : rgb(118, 117, 117);
$secondary-color : rgb(198, 198, 198);
$lines-color-lighter: rgb(235, 235, 235);
$lines-color: rgb(220, 220, 220);
$lines-color-strong: rgb(190, 190, 190);

$spread: 2.4px;
