.about_page .about_block {
	width: 1170px;
	margin: 45px auto 0 auto;
	position: relative;
	left: 31px;
	color: black;
}

.about_page .about_block h2 {
	width: 100%;
	margin: 0 0 25px 0;
	position: relative;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
}

.about_page .about_block h2:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -25px;
	background: #e18432;
}

.about_page .about_block .tagline {
	width: 68.55%;
	margin: 70px 0 37px 0;
	padding: 0 35px 0 0;
	font-size: 18px;
}

.about_page .about_block .description {
	width: 100%;
	margin: 0 0 68px 0;
}

.about_page .about_block .description:after {
	content: '';
	width: 100%;
	display: block;
	clear: both;
}

.about_page .about_block .description p {
	width: 68.55%;
	padding: 0 35px 0 0;
	position: relative;
	float: left;
	font-size: 13px;
	line-height: 2;
}

.about_page .about_block .description p:after {
	content: '';
	width: 2px;
	height: 93%;
	position: absolute;
	right: 0;
	top: 3.5%;
	background: #dcdcdc;
}

.about_page .about_block .description aside {
	width: 31.45%;
	float: right;
	font-size: 18px;
}

.about_page .about_block .description aside * {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0 0 0 58px;
	display: inline-block;
	position: relative;
	color: black;
}

.about_page .about_block .description aside a:hover {
	color: #e18432;
}

.about_page .about_block .description aside a:before,
.about_page .about_block .description aside span:before {
	content: '';
	width: 25px;
	height: 15px;
	position: absolute;
	left: 23px;
	top: 5px;
	background: red;
	background-size: auto 100% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	transition: all 0.2s;
}

.about_page .about_block .description aside a:nth-of-type(1):before {
	background: url('../../images/global/icons/phone.png');
}

.about_page .about_block .description aside a:nth-of-type(2):before {
	background: url('../../images/global/icons/mail.png');
}

.about_page .about_block .description aside span:before {
	top: 4px;
	background: url('../../images/global/icons/location.png');
}

.about_page .about_block .partners h3 {
	width: 100%;
	margin: 0 0 70px 0;
	position: relative;
	font-size: 25px;
	font-weight: 100;
}

.about_page .about_block .partners h3:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -25px;
	background: #e18432;
}

.about_page .about_block .partners_block {
	width: 100%;
	margin: 0 0 45px 0;
	font-size: 0;
	overflow: hidden;
	position: relative;
}

.about_block .partners_block .swiper-container {
	width: 100%;
	background: green;
}

.about_page .about_block .partners_block .swiper-slide {
	height: 70px;
	background: red;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	transition: all 0.5s;
}

.partners_block .swiper-slide a {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	display: block;
}

.partners_block .swiper-button-next,
.partners_block .swiper-button-prev {
	height: 15px;
	background: url('../../images/global/icons/slider_about_arrow_right.png') no-repeat;
	background-size: auto 100%;
	background-position: right center;
	top: 73%;
	z-index: 20;
}

.partners_block .swiper-button-prev {
	background: url('../../images/global/icons/slider_about_arrow_left.png') no-repeat;
	background-position: left center;
}

.about_page .partners_block .swiper-slide:hover {
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);
}

.about_page .partners_block .swiper-slide:nth-of-type(1) {
	background: url('../../images/about_page/partners/partner_1.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(2) {
	background: url('../../images/about_page/partners/partner_2.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(3) {
	background: url('../../images/about_page/partners/partner_3.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(4) {
	background: url('../../images/about_page/partners/partner_4.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(5) {
	background: url('../../images/about_page/partners/partner_5.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(6) {
	background: url('../../images/about_page/partners/partner_6.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(7) {
	background: url('../../images/about_page/partners/partner_3.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(8) {
	background: url('../../images/about_page/partners/partner_4.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(9) {
	background: url('../../images/about_page/partners/partner_5.png');
}

.about_page .partners_block .swiper-slide:nth-of-type(10) {
	background: url('../../images/about_page/partners/partner_6.png');
}