.about_us {
	position: relative;
	font-size: 1.2vw;
	color: white;
}

.about_us video {
	position: absolute;
	left: 0;
	top: 0;
}

.footer_container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
}

.about_us h2 {
	width: 100%;
	position: absolute;
	left: 18vw;
	top: 17.5vh;
	font-size: 1.8vw;
}

.about_us h2:after {
	content: "";
	width: 9.5vw;
	height: 9.5vw;
	position: absolute;
	left: 3.3vw;
	top: 4vw;
	border-radius: 50%;
	background: url('../../images/backgrounds/manager.png') no-repeat;
	background-size: 100% auto;
	box-shadow: 6px 12px 0 rgba(0, 0, 0, 0.25);
}

.footer_list,
.about_us h5, 
.about_us .contacts {
	width: 40vw;
	margin: 0 auto 3vh 40vw;
}

.footer_list h3 {
	color: #a2d7f8;
	font-size: 1.3vw;
}

.about_us h5:last-of-type {
	width: 37vw;
	font-size: 1.3vw;
	text-align: right;
}

.about_us h5 span {
	color: #a2d7f8;
}

.about_us .footer_list:first-of-type {
	padding: 18vh 0 0 0;
}

.about_us .contacts {
	width: 37vw;
	font-size: 1.2vw;
	text-align: left;
}