main header {
	width: 100%;
	position: relative;
	color: white;
	overflow: hidden;
}

main header:after {
	content: "";
	width: 100%;
	height: 30vw;
	position: absolute;
	left: 0;
	bottom: 14.1vw;
	background: url("../../images/backgrounds/header_earth.png") no-repeat center bottom;
	background-size: 70%;
	z-index: 5;
}

main header:before {
	content: "";
	width: 100%;
	height: 14.5vw;
	position: absolute;
	left: 0;
	bottom: 0;
	background: black url('../../images/backgrounds/header_bottom_bg.jpg') no-repeat center bottom;
	background-size: 70%;
	z-index: 5;
	box-shadow: 0 -3px 50px black, 0 -3px 50px black;
}

header nav {
	width: 20vw;
	padding-bottom: 3vw;
	position: absolute;
	right: 5.5vw;
	top: 2vh;
	z-index: 10;
	text-align: center;
	color: white;
	border: 1px white solid;
	opacity: 0;
	transition: opacity 0.3s;
}

.toggle_menu {
	opacity: 1;
}

header nav li {
	height: 2.2vw;
	font-size: 1.6vw;
	font-weight: 300;
	line-height: 5.2vw;
	transition: all 0.3s;
}

header nav li:hover {
	color: #a2d7f8;
}

.menu_logo {
	width: 3.2vw;
	height: 3.2vw;
	position: absolute;
	right: 1vw;
	top: 1vw;
	cursor: pointer;
}

.menu_logo:after {
	content: "";
	width: 100%;
	height: 0.3vw;
	position: absolute;
	background: #a2d7f8;
	box-shadow: 0 1.1vw 0 #a2d7f8, 0 2.2vw 0 #a2d7f8;
}

.intro {
	width: 30%;
	position: absolute;
	left: 4vw;
	top: 14vw;
	z-index: 5;
	text-align: left;
}

.intro h1,
.intro h2 {
	font-size: 2.9vw;
	line-height: 1.2;
}

.intro h2 span {
	color: #a2d7f8;
}

.intro p {
	width: 80%;
	margin-top: 1.5vw;
	font-size: 1.4vw;
	line-height: 1.7;
}

.all_world {
	position: absolute;
	right: 5vw;
	bottom: 9vw;
	font-size: 3.5vw;
	z-index: 5;
	color: #a2d7f8;
}

.stars {
	width: 5000vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../../images/backgrounds/stars.jpg') repeat-x;
	background-size: auto 75%;
	transform: translateX(0);
	animation: stars_anim 300s infinite linear;
}

@keyframes stars_anim {
	100% {
		transform: translateX(-5000px);
	}
}

.stars:after {
	content: "";
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0vw;
	top: 0;
	background: url('../../images/backgrounds/mask.png') no-repeat center bottom;
	background-size: 100% auto;
	animation: stars_mask_anim 300s infinite linear;
}

@keyframes stars_mask_anim {
	100% {
		transform: translateX(5000px);
	}
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
}

.icon-scroll {
    width: 2.8vw;
    height: 5vw;
    left: 5.2vw;
    bottom: 3vw;
    box-shadow: inset 0 0 0 1px white;
    border-radius: 3vw;
    z-index: 5;
}

.icon-scroll:before {
    content: '';
    width: 0.4vw;
    height: 1.3vw;
    background: white;
    left: 1.2vw;
    top: 0.7vw;
    border-radius: 0.3vw;
    -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
          animation-name: scroll;
}

.icon-scroll:after {
	content: "узнать больше";
	width: 10vw;
	display: block;
	position: absolute;
	left: -1vw;
	top: 5.5vw;
	font-size: 1vw;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(1.5vw);
        transform: translateY(1.5vw);
    }
}


