.what_they_say {
	background: rgb(45, 93, 146);
	color: white;
}

.what_they_say nav {
	width: 70%;
	height: 2.5vw;
	margin: 0 auto;
}

.what_they_say nav div {
	width: 50%;
	height: 100%;
	float: left;
	display: table;
	cursor: pointer;
	transition: background 0.5s;
}

.what_they_say nav div:first-of-type {
	background: rgba(162, 215, 248, 0.4);
}

.what_they_say nav div:last-of-type {
	background: rgba(162, 215, 248, 0.2);
}

.what_they_say nav h3 {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.2vw;
	text-align: center;
}

.what_they_say article {
	width: 70%;
	min-height: 8vw;
	margin: 6vh auto 0 auto;
	padding-left: 9vw;
	position: relative;
	color: white;
}

.what_they_say article:before {
	content: "";
	width: 8vw;
	height: 8vw;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background: url('../../images/they_talking/av_1.png') center center;
	background-size: 100% 100%;
}

.review_people article:before {
	content: "";
	width: 8vw;
	height: 8vw;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background: url('../../images/they_talking/av_2.png') center center;
	background-size: 100% 100%;
}

.what_they_say article h2 {
	padding: 0.5vw 0;
	font-size: 1.2vw;
}

.what_they_say article h2 span {
	color: #a2d7f8;
}

.what_they_say article p {
	font-size: 1.1vw;
}

.review_people {
	display: none;
}

.video_2 {
	width: 70vw;
	height: 30vw;
	margin: 3vw auto 0 auto;
	position: relative;
	background: url('../../images/backgrounds/video_3.jpg') no-repeat center center;
	background-size: 100% auto;
	z-index: 1;
}

.review_prof iframe {
	display: block;
	width: 80vw;
	height: 45vw;
	position: absolute;
	left: 10vw;
	top: 2.8vw;
}

.video_2 span {
	width: 7vw;
	height: 7vw;
	display: block;
	position: absolute;
	left: 45%;
	top: 35%;
	border-radius: 50%;
	background: url('../../images/icons/video_play.png') no-repeat;
	background-size: 100% auto;
	cursor: pointer;
	transition: transform 0.3s;
}

.video_2 span:hover {
	transform: scale(1.1);
}

.youtube_block_2 iframe {
	width: 79vw;
	height: 90vh;
	position: absolute;
	left: 10.5vw;
	top: 5vh;
}

.youtube_block_2 {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.youtube_block_2 .close_icon_2 {
	width: 4vw;
	height: 4vw;
	position: absolute;
	right: 3vw;
	top: 5vh;
	cursor: pointer;
	z-index: 100;
}

.youtube_block_2 .close_icon_2:before,
.youtube_block_2 .close_icon_2:after {
	content: "";
	width: 4vw;
	height: 0.3vw;
	position: absolute;
	top: 1.6vw;
	background: #a2d7f8;
	transform: rotateZ(45deg);
}

.youtube_block_2 .close_icon_2:after {
	transform: rotateZ(-45deg);
}

.review_prof p {
	width: 70vw;
	margin: 5vh auto 0 auto;
	font-size: 1.4vw;
	color: white;
}