.news_page .news_banner_block {
	width: 1170px;
	margin: 28px auto 50px auto;
	padding: 0;
	position: relative;
	left: 40px;
	color: black;
}

.news_page .news_banner_block:after {
	content: '';
	width: 100%;
	display: block;
	clear: both;
}

.news_page .news_banner_block > div {
	height: 300px;
}

.news_page .news_banner_block > div a {
	width: 100%;
	height: 100%;
	display: block;
}

.news_page .news_banner_1 {
	width: 770px;
	float: left;
	background: url('../../images/news_page/news_banners/banner_1.jpg') no-repeat;
	background-size: 100% auto;
}

.news_page .news_banner_2 {
	width: 370px;
	float: right;
	background: url('../../images/news_page/news_banners/banner_2.jpg') no-repeat;
	background-size: 100% auto;
}
