.news_page header {
	width: calc(100vw - 60px);
	padding: 0;
	position: relative;
	left: 70px;
	background-size: auto 100%;
	color: black;
}

.news_page .header_content {
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}

.news_page header .logo {
	background: url('../../images/global/logo_on_white.png') no-repeat;
}

.news_page .header_top_bar {
	border-bottom: #d9d9d9 1px solid;
}

.news_page .header_top_bar * {
	color: #717171;
}

.news_page .header_top_bar .weather_data {
	background: url('../../images/global/icons/weather_cloud_and_suny_on_white.png') left 42% no-repeat;
}

.news_page .header_top_bar .city {
	color: #e18432;
}

.news_page .header_top_bar .search_icon {
	background: url('../../images/global/icons/search_on_white.png') no-repeat center center;
}

.news_page .header_top_bar .login * {
	color: #e18432;
}

.news_page .search_form {
	z-index: 5;
}

.news_page .search_form * {
	background-color: #f2f2f2 !important;
}

header .back_and_current {
	margin: 18px 0;
	position: relative;
}

header .back_and_current:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -18px;
	background: #d9d9d9;
}

header .back_and_current a {
	font-size: 13px;
	color: #717171;
	transition: color 0.3s;
}

header .back_and_current a:hover {
	color: #e18432;
}

header .back_and_current a:first-of-type {
	color: #e18432;
}

header .back_and_current a:first-of-type:after {
	content: '>';
	color: black;
	margin: 0 14px;
}