@media all and (max-width: 1000px) {
	header {
		width: 100%;
	}
	header img {
		position: relative;
		display: block;
		margin: 0 auto;
		left: -150px;
		top: 47px;
	}
	header .link_to_site {
		width: 80px;
		height: 14px;
		position: relative;
		left: 50%;
		top: -25px;
		margin-left: 225px;
		margin-top: 84px;
		font-size: 13px;
		color: white;
	}
	.article_one .first_p,
	.article_two_firts_p,
	.article_tree_p_one {
		width: 505px;
		height: 85px;
		margin: 0 auto;
		position: relative;
		color: white;
		font-size: 22px;
		left: 75px;
		line-height: 29px;
		font-family: 'SFUIDisplay-Light';
	}
	.article_one .second_p,
	.article_two_second_p,
	.article_tree_p_two {
		width: 552px;
		height: 45px;
		margin: 76px auto 0 auto;
		position: relative;
		left: -65px;
		color: white;
		font-size: 21px;
		font-family: 'SFUIDisplay-Light';
	}
	.article_tree_p_one br {
		display: none;
	}
	.article_one .first_p:before,
	.article_two_firts_p:before,
	.article_tree_p_one:before  {
		position: absolute;
		top: 0;
	}
	.article_tree_p_one:before {
		top: -15px;
	}
	.article_two_second_p {
		padding-bottom: 50px;
	}
	.article_one {
		margin: 68px auto 58px auto;
	}
	.article_tree {
		width: 100%;
	}
	.article_tree {
		margin: 70px auto 58px auto;
		position: relative;
		left: 0px;
		color: white;
		display: none;
	}
	.mobile_bottom_block {
		width: 90%;
		margin: 0 auto;
	}
	.article_tree .bottom_block {
		width: 33% !important;
		height: 395px;
		background: rgba( 250, 250, 250, 0.2 );
		margin: 54px 0 97px 0;
		float: left;
		position: relative;
		left: 0;

	}
}

@media all and (max-width: 780px) {
	.article_tree_p_two {
		line-height: normal;
	}
	.article_tree .bottom_block:first-of-type {
		height: 395px;
		background: rgba( 250, 250, 250, 0.2 );
		margin: 47px auto 37px auto;
		float: none;
		position: relative;
		left: 0;

	}
	.article_tree .bottom_block {
		width: 370px !important;
		height: 395px;
		background: rgba( 250, 250, 250, 0.2 );
		margin: 37px auto 37px auto;
		float: none;
		position: relative;
		left: 0;
		border-radius: 0 !important;
	}
}

@media all and (max-width: 760px) {
	.tabs_block {
		width: 85% !important;
		height: 50px;
		margin: 90px auto 0 auto;
		box-sizing: border-box;
		border: 1px white solid;
		box-sizing: border-box;
	}
	.tabs_block li {
		cursor: pointer;
		height: 100%;
		float: left;
		box-sizing: border-box;
		font-size: 15px !important;
		text-align: center;
		padding: 13px 0 0 0;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
	.tabs_block li:nth-of-type(1) {
		width: 26%;
	}
	.tabs_block li:nth-of-type(2) {
		width: 45%;
	}
	.tabs_block li:nth-of-type(3) {
		width: 29%;
	}
	.article_one,
	.article_two {
		width: 100%;
	}
	.article_one .first_p,
	.article_two_firts_p,
	.article_tree_p_one  {
		width: 70%;
		height: auto;
		margin: 0 0 0 150px;
		left: auto;
		line-height: normal;
	}
	.article_one .second_p,
	.article_two_second_p,
	.article_tree_p_two {
		width: 80%;
		height: auto;
		margin: 56px 0 0 35px;
		left: auto;
	}
	.article_one .first_p:before,
	.article_two_firts_p:before {
		content: "";
		width: 73px;
		height: 110px;
		position: absolute;
		left: -112px;
		top: 15px;
	}
	.article_tree_p_one:before {
		content: "";
		width: 73px;
		height: 110px;
		position: absolute;
		left: -112px;
		top: -10px;
	}
	.special_offers {
		width: 95%;
		margin: 50px auto 0 auto;
	}
	.special_offers a {
		width: 47%;
		height: 120px;
		background: white;
		display: block;
		float: left;
		margin-left: 10px;
		margin-bottom: 20px;
		position: relative;
		border-radius: 5px;
	}
	.special_offers a:nth-of-type(2n + 1) {
		margin-left: ;
	}
	footer {
			width: 100%;
			height: auto;
			padding-bottom: 40px;
	}
	.footer_center_block {
		width: 100%;
		height: auto;
		margin: 37px auto 0 auto;
	}
	footer h2:nth-of-type(1) {
		width: 90%;
		height: auto;
		font-size: 27px;
		margin-left: 21px;
	}
	footer form {
		width: 90%;
		height: 50px;
		margin: 31px 0 0 20px;
	}
	footer input {
		width: 65%;
		height: 50px;
	}
	footer button {
		width: 30%;
		height: 50px;
		background: rgba(236, 28, 36, 0.8);
		border: none;
		border-radius: 5px;
		display: block;
		float: left;
		margin-left: 3%;
		cursor: pointer;
		color: white;
		font-size: 18px;
	}
	footer h2:nth-of-type(2) {
		margin: 30px 0 0 20px;
		font-size: 27px;
	}
	footer .social_block {
		width: 243px;
		height: 62px;
		margin-top: 34px;
		margin-left: 20px;
	}
	.join_button {
		width: 94%;
		height: 42px;
		display: block;
		background: rgba(236, 28, 36, 0.8);
		margin: 33px auto 0 auto;
		text-align: center;
		color: white;
		font-size: 25px;
		padding-top: 11px;
		font-family: 'SFUIDisplay-Light';
		border-radius: 5px;
	}
	.license {
		width: 388px;
		height: 39px;
		display: block;
		margin-top: 40px;
		margin-left: 20px;
		color: #A0A1A2;
		font-size: 13px;
	}
	.services {
		width: 730px;
		height: 115px;
		margin: 0 0 21px 35px;
		position: relative;
		font-family: 'SFUIDisplay-Light';
	}
	.services aside:nth-of-type(1) {
		width: 157px;
		height: 115px;
		border-radius: 4px;
		float: left;
		position: relative;
	}
}

@media all and (max-width: 700px) {
	.services aside:nth-of-type(2) {
		position: relative;
		left: 17px;
		top: 19px;
		font-size: 18px;
	}
}

@media all and (max-width: 690px) {
	header img {
		position: absolute;
		display: block;
		margin: 0 auto;
		left: 30px;
		top: 47px;
	}
	header .link_to_site {
		width: 80px;
		height: 14px;
		position: absolute;
		right: 55px;
		left: auto;
		top: 0px;
		font-size: 13px;
		color: white;
	}
	header {
		height: auto;
	}
	header p:nth-of-type(1) {
		width: 470px;
		height: 155px;
		color: white;
		margin: 270px auto 0 auto;
		font-size: 34px;
		font-family: "SFUIDisplay-Light" !important;
		line-height: 39px;
		font-weight: 300;
		position: relative;
		left: 40px;
	}
	header p:nth-of-type(1) br {
		display: none;
	}
	header p:nth-of-type(2) {
		width: 365px;
		height: 45px;
		color: white;
		margin: 110px auto 0 auto;
		font-size: 19px;
		position: relative;
		left: -10px;
		font-family: 'SFUIDisplay-Light';
	}
	.join {
		width: 332px;
		height: 36px;
		text-align: center;
		padding-top: 12px;
		display: block;
		background: rgba(250, 28, 36, 0.7);
		color: white;
		margin: 103px auto 155px auto;
		position: relative;
		left: -28px;
		font-size: 19px;
		border-radius: 3px;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
	.special_offers {
		width: 95%;
		margin: 50px auto 0 auto;
	}
	.special_offers a {
		width: 47%;
		height: 120px;
		background: white;
		display: block;
		float: left;
		margin-left: 10px;
		margin-bottom: 20px;
		position: relative;
		border-radius: 5px;
	}
	.special_offers a p {
		width: 90%;
		height: auto;
		position: relative;
		left: 0;
		top: 18px;
		margin: 0 auto;
		font-size: 17px;
		color: black;
	}
	.special_offers a:nth-of-type(2n + 1) {
		margin-left: ;
	}
	.special_offers a:last-of-type p {
		width: 90%;
		height: auto;
		margin: 0 auto;
		height: 70px;
		color: white;
		font-size: 17px;
	}
}

@media all and (max-width: 630px) {
	.services {
		width: 90%;
		height: 80px;
	}
	.services aside:nth-of-type(1) {
		width: 20%;
		height: 80px;
		border-radius: 4px;
		float: left;
		position: relative;
		background-size: 90% !important;
	}
	.services aside:nth-of-type(2) {
		width: 80%;
		position: relative;
		left: 17px;
		top: 0;
		font-size: 18px;
		float: right;
	}
	.services aside:nth-of-type(2) a {
		width: 70%;
		color: white;
		position: relative;
	}
	.services aside:nth-of-type(2) p {
		width: 70%;
		font-size: 12px;
		margin: 5px 0 0 0;
		line-height: 17px;
		color: rgba( 250, 250, 250, 0.7);
	}
}

@media all and (max-width: 585px) {
	.header_text_block {
		width: 100%;
		margin: 0 auto;
		position: relative;
		left: 0;
	}
	header p:nth-of-type(1) {
		width: 85%;
		height: auto;
		color: white;
		margin: 270px auto 0 auto;
		padding: 0;
		font-size: 31px;
		font-family: "SFUIDisplay-Light" !important;
		line-height: 39px;
		font-weight: 300;
		position: static;
	}
	header p:nth-of-type(1) br {
		display: none;
	}
	header p:nth-of-type(2) {
		width: 82%;
		height: auto;
		color: white;
		margin: 40px auto 0 auto;
		font-size: 19px;
		position: relative;
		left: -10px;
		font-family: 'SFUIDisplay-Light';
	}
	.join {
		width: 300px;
		height: 36px;
		text-align: center;
		padding-top: 12px;
		display: block;
		background: rgba(250, 28, 36, 0.7);
		color: white;
		margin: 43px auto 75px auto;
		position: relative;
		left: 0;
		font-size: 19px;
		border-radius: 3px;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
	.tabs_block {
		width: 100%;
		height: 50px;
		margin: 50px auto 0 auto;
	}
	.article_one .first_p,
	.article_two_firts_p,
	.article_tree_p_one   {
		width: 75%;
		height: auto;
		margin: -20px 0 0 120px;
		left: auto;
		font-size: 20px;
	}
	.article_one .second_p,
	.article_two_second_p,
	.article_tree_p_two {
		width: 75%;
		height: auto;
		margin: 31px 0 0 35px;
		left: auto;
		font-size: 20px;
	}
	.article_one .first_p:before,
	.article_two_firts_p:before,
	.article_tree_p_one:before {
		content: "";
		width: 53px;
		height: 110px;
		position: absolute;
		left: -85px;
		top: 7px;
	}
	.special_offers a p {
		width: 93%;
		height: auto;
		position: relative;
		left: 0;
		top: 18px;
		margin: 0 auto;
		font-size: 16px;
		color: black;
	}
	.special_offers a:nth-of-type(2n + 1) {
		margin-left: ;
	}
	.special_offers a:last-of-type p {
		width: 93%;
		height: auto;
		margin: 0 auto;
		height: 70px;
		color: white;
		font-size: 16px;
	}
	footer h2:nth-of-type(1), 
	footer h2:nth-of-type(2) {
		font-size: 25px;
	}
	.tabs_block {
		height: 40px;
	}
	.tabs_block li {
		font-size: 12px;
		padding: 10px 0 0 0;
	}
	header .link_to_site:before {
		-webkit-transform: scaleY(0.3);
		transform: scaleY(0.3);
		position: absolute;
		top: auto;
		bottom: -2px !important;
	}
}

@media all and (max-width: 545px) {
	header img {
		width: 60%;
	}
	header .link_to_site {
		width: auto;
		font-size: 3vw;
	}
	.header_text_block {
		width: 100%;
		margin: 0 auto;
		position: relative;
		left: 0;
	}
	header p:nth-of-type(1) {
		width: 85%;
		height: auto;
		color: white;
		margin: 270px auto 0 auto;
		padding: 0;
		font-size: 31px;
		font-family: "SFUIDisplay-Light" !important;
		line-height: 39px;
		font-weight: 300;
		position: static;
	}
	header p:nth-of-type(1) br {
		display: none;
	}
	header p:nth-of-type(2) {
		width: 80%;
		height: auto;
		color: white;
		margin: 40px auto 0 auto;
		font-size: 19px;
		position: relative;
		left: -10px;
		font-family: 'SFUIDisplay-Light';
	}
	.tabs_block {
		width: 100%;
		height: 40px;
	}
	.tabs_block li {
		cursor: pointer;
		height: 100%;
		float: left;
		box-sizing: border-box;
		font-size: 13px !important;
		text-align: center;
		padding: 10px 0 0 0;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
	.tabs_block li {
		font-size: 15px;
	}
	.special_offers {
		width: 95%;
		margin: 50px auto 0 auto;
	}
	.special_offers a {
		width: 77%;
		height: 120px;
		background: white;
		display: block;
		float: none;
		margin: 0 auto 20px auto !important;
		position: relative;
		border-radius: 5px;
	}
	.special_offers a p {
		width: 90%;
		height: auto;
		position: relative;
		left: 0;
		top: 18px;
		margin: 0 auto;
		font-size: 20px;
		color: black;
	}
	.special_offers a:last-of-type {
		background: rgba( 250, 250, 250, 0.5);
		color: white;
		cursor: default;
	}
	.special_offers a:last-of-type p {
		width: 90%;
		height: auto;
		margin: 0 auto;
		height: 70px;
		font-size: 18px;
	}
	.special_offers a span {
		display: inline-block;
		width: 70px;
		height: 10px;
		position: absolute;
		left: 5%;
		bottom: 23px;
		font-size: 13px;
		color: black;
	}
	main .view_all_offers { 
		width: 72%;
		height: 35px;
		display: block;
		text-align: center;
		font-size: 16px;
		margin: 30px auto 0 auto;
		padding-top: 15px;
		border: 1px white solid;
		border-radius: 5px;
		color: white;
		-webkit-transition: background 0.5s, color 0.5s;
		transition: background 0.5s, color 0.5s;
		font-family: 'SFUIDisplay-Light';
	}
	.article_one {
		margin: 68px auto 35px auto;
	}
	.mail_true {
		width: 100vw;
		height: 100vh;
		background: rgba( 250, 250, 250, 0.9);
		position: fixed;
		z-index: 10;
		left: 0;
		bottom: 0;
		margin: 0;
		display: none;
		font-size: 20px;
		padding: 0;
		text-align: center;
	}

	.mail_true h3 {
		margin-top: 20%;
	}

	.mail_true p {
		margin-top: 20px;
	}
}

@media all and (max-width: 525px) {
	.article_two_second_p {
		margin: 43px 0 -15px 27px !important;	
	}
	.services {
		width: 85%;
		height: auto;
		margin-bottom: 45px;
		margin-left: 25px;
	}
	.services aside:nth-of-type(1) {
		width: 100%;
		height: 50px;
		border-radius: 4px;
		float: none;
		position: relative;
		background-size: auto 100% !important;
	}
	.services:nth-of-type(2) aside:nth-of-type(1) {
		width: 100%;
		height: 50px;
		border-radius: 4px;
		float: none;
		position: relative;
		background-size: auto 150% !important;
	}
	.services:nth-of-type(3) aside:nth-of-type(1) {
		width: 100%;
		height: 50px;
		border-radius: 4px;
		float:none;
		position: relative;
		background-size: auto 50% !important;
	}
	.services:nth-of-type(5) aside:nth-of-type(1) {
		width: 100%;
		height: 50px;
		border-radius: 4px;
		float:none;
		position: relative;
		background-size: auto 70% !important;
	}
	.services aside:nth-of-type(2) {
		width: 100%;
		position: relative;
		left: 0;
		top: 10px;
		font-size: 18px;
		float: none;
	}
	.services aside:nth-of-type(2) a {
		width: 70%;
		color: white;
		position: relative;
	}
	.services aside:nth-of-type(2) p {
		width: 70%;
		font-size: 12px;
		margin: 5px 0 0 0;
		line-height: 17px;
		color: rgba( 250, 250, 250, 0.7);
	}
	.view_all_partners {
		width: 85%;
		margin: 37px auto 37px auto;
	}
	.when_no_offers {
		width: 100%;
	}
	.when_no_offers p {
		width: 80%;
		margin-left: 35px;
		font-size: 20px;
		font-family: 'SFUIDisplay-Light';
		margin-top: -20px;
	}
	.when_no_offers br {
		display: none;
	}
	.when_no_offers a {
		width: 300px;
		color: white;
		display: block;
		border: 1px white solid;
		border-radius: 5px;
		background: rgba(250, 250, 250, 0.1);
		padding: 13px 0;
		margin: 50px auto 0 auto;
		text-align: center;
	}
	header .link_to_site:before {
		-webkit-transform: scaleY(0.3);
		transform: scaleY(0.3);
		position: absolute;
		top: auto;
		bottom: -3px !important;
	}
}

@media all and (orientation: portrait) {
	.mail_true {
		width: 100%;
		height: 250px;
		background: rgba( 250, 250, 250, 0.9);
		position: fixed;
		z-index: 10;
		left: 0;
		bottom: 0;
		margin: 0;
		top: 50px;
		display: none;
		font-size: 20px;
		padding: 0;
		text-align: center;
	}

	.mail_true h3 {
		margin-top: 20%;
	}

	.mail_true p {
		margin-top: 20px;
	}
}

@media all and (max-width: 475px){
	main .view_all_offers { 
		font-size: 14px;
	}
	.tabs_block li {
		cursor: pointer;
		height: 100%;
		float: left;
		box-sizing: border-box;
		font-size: 12px !important;
		text-align: center;
		padding: 13px 0 0 0;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
}

@media all and (max-width: 450px) {
	header .link_to_site {
		top: -5px;
	}
	header p:nth-of-type(1) {
		font-size: 20px;
		line-height: normal;
	}
	header p:nth-of-type(2) {
		line-height: normal;
		font-size: 16px;
	}
	.tabs_block li {
		font-size: 14px;
	}
	.tabs_block li:nth-of-type(1) {
		width: 29%;
	}
	.tabs_block li:nth-of-type(2) {
		width: 45%;
	}
	.tabs_block li:nth-of-type(3) {
		width: 26%;
	}
	.article_one .first_p,
	.article_two_firts_p,
	.article_tree_p_one {
		width: 85%;
		height: auto;
		margin: -20px auto 0 auto;
		left: auto;
		font-size: 20px;
	}
	.article_one .second_p,
	.article_two_second_p,
	.article_tree_p_two {
		width: 85%;
		height: auto;
		margin: 31px auto 0 auto;
		left: auto;
		font-size: 20px;
	}
	.article_tree_p_one {
		margin: -40px auto 0 auto;
	}
	.article_one .first_p:before,
	.article_two_firts_p:before,
	.article_tree_p_one:before {
		display: none;
	}
	footer input {
		width: 50%;
		padding-left: 0;
		text-align: center;
	}
	footer button {
		width: 45%;
	}
	footer button,
	footer input {
		font-size: 15px;
	}
}

@media all and (max-width: 420px) {
	header img {
		width: 60%;
	}
	header .link_to_site {
		width: auto;
		top: 20px;
		right: 45px;
		margin: 0;
	}
	.join {
		width: 300px;
		height: 36px;
		text-align: center;
		padding-top: 12px;
		display: block;
		background: rgba(250, 28, 36, 0.7);
		color: white;
		margin: 43px auto 43px auto;
		position: relative;
		left: 0;
		font-size: 19px;
		border-radius: 3px;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
	.special_offers a {
		width: 90%;
	}
	main .view_all_offers { 
		width: 85%;
		font-size: 15px;
	}
	footer h2:nth-of-type(2) {
		font-size: 25px;
		width: 95%;
		height: auto;
	}
	.article_tree .bottom_block {
		width: 95% !important;
		height: 395px;
		background: rgba( 250, 250, 250, 0.2 );
		margin: 37px auto 37px auto;
		float: none;
		position: relative;
		left: 0;
	}
}

@media all and (max-width: 400px) {
	header p:nth-of-type(1) {
		margin: 210px auto 0 auto;	
	}
	.tabs_block {
		height: 35px;
	}
	.tabs_block li {
		font-size: 12px;
		padding: 10px 0 0 0;
	}
	.article_one .first_p,
	.article_two_firts_p {
		width: 85%;
		height: auto;
		margin: -35px auto 0 auto;
		left: auto;
		font-size: 19px;
		line-height: normal;
	}
	.article_one .second_p.
	.article_two_second_p  {
		width: 85%;
		height: auto;
		margin: 25px auto 0 auto;
		left: auto;
		font-size: 18px;
	}
	.view_all_partners {
		width: 85%;
		height: 34px;
		margin: 37px auto 37px auto;
		display: block;
		font-size: 15px;
		border: 1px white solid;
		border-radius: 5px;
		color: white;
		text-align: center;
		padding-top: 14px;
		font-family: 'SFUIDisplay-Light';
	}
}

@media all and (max-width: 380px) {
	.tabs_block {
		height: 35px;
	}
	.tabs_block li {
		font-size: 11px !important;
		padding: 10px 0 0 0;
	}
}

@media all and (max-width: 366px) {
	.special_offers a {
		height: 110px;
	}
	.special_offers a p {
		width: 93%;
		height: auto;
		position: relative;
		left: 0;
		top: 18px;
		margin: 0 auto;
		font-size: 18px;
		color: black;
	}
	.special_offers a span {
		position: absolute;
		left: 4%;
	}
	main .view_all_offers { 
		width: 85%;
		font-size: 14px;
	}
	.join_button {
		font-size: 23px;
	}
	.when_no_offers a {
		width: 300px;
		color: white;
		display: block;
		border: 1px white solid;
		border-radius: 5px;
		background: rgba(250, 250, 250, 0.1);
		padding: 13px 0;
		margin: 50px auto 0 auto;
		text-align: center;
	}
	.when_no_offers p {
		margin-left: 25px;
		font-size: 20px;
		font-family: 'SFUIDisplay-Light';
	}
	.when_no_offers a {
		width: 300px;
		color: white;
		display: block;
		border: 1px white solid;
		border-radius: 5px;
		background: rgba(250, 250, 250, 0.1);
		padding: 13px 0;
		margin: 50px auto 50px auto;
		text-align: center;
	}
	main, .article_one {
		height: auto !important;
	}
	.tabs_block {
		height: 35px;
		margin: 40px auto 0 auto !important;
	}
	.tabs_block li {
		font-size: 10px !important;
		padding: 10px 0 0 0;
	}
	.tabs_block li:nth-of-type(1) {
		width: 30%;
	}

	.tabs_block li:nth-of-type(2) {
		width: 46%;
	}

	.tabs_block li:nth-of-type(3) {
		width: 24%;
	}
}

@media all and (max-width: 340px) {
	.tabs_block {
		height: 35px;
		margin: 50px 0 0 0;
	}
	.tabs_block li {
		font-size: 11px;
	}
	main .view_all_offers { 
		width: 78%;
		height: 15px;
		font-size: 12px;
		padding: 10px;
	}
	footer input {
		width: 50%;
		padding-left: 0;
		text-align: center;
	}
	footer button {
		width: 45%;
	}
	footer button,
	footer input {
		font-size: 14px;
		height: 40px;
		padding-top: 0;
	}
	.view_all_partners {
		width: 85%;
		height: 24px;
		margin: 27px auto 27px auto;
		display: block;
		font-size: 14px;
		border: 1px white solid;
		border-radius: 5px;
		color: white;
		text-align: center;
		padding-top: 7px;
		font-family: 'SFUIDisplay-Light';
	}
}