<main class="content">
  <div class="content_wrapper">
    <div class="content_inner">
      <menu class="content_menu">
        <a href="https://github.com/sergey-pimenov" class="content_menu-link" target="_blank">
          <img class="content_menu-icon" src="./assets/github-mark.svg"/> Github
        </a>
        <a href="https://www.linkedin.com/in/pimenov-front-dev" class="content_menu-link" target="_blank">
          <img class="content_menu-icon content_menu-icon-li" src="./assets/linkedin_icon.svg"/> 
          Linkedin
        </a>
        <a href="./assets/cv.pdf" class="content_menu-link" target="_blank">Show CV</a>
        <a href="mailto:pimenov.web@gmail.com" class="content_menu-link" target="_blank">
          pimenov.web@gmail.com
        </a>
      </menu>
      <img class="content_face" src="./assets/face.png" />
      <h1 class="content_title">
        <div class="content-accent-color">
          Sergey Pimenov<br />front-end developer
        </div>
      </h1>
      <p class="content_description">
        I'm front-end developer with development experience of about <strong class="content_accent">8 years</strong>. I develop complex projects using <strong class="content_accent">latest technologies</strong>, <strong class="content_accent">animations</strong> and making interfaces <strong class="content_accent">accessible</strong>. The code written by me is <strong class="content_accent">scalable</strong> and <strong class="content_accent">modern</strong>. Using automation tools I ensure the <strong class="content_accent">reliability</strong> and <strong class="content_accent">sustainability</strong> of projects. I will be happy to help you develop your projects.
      </p>
      <div class="content_list-wrapper">
        <ul>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">HTML</strong>
            <strong class="content_accent">Semantic</strong>,
            <strong class="content_accent">valid</strong> and
            <strong class="content_accent">accessible</strong>. Written in a way
            that is understandable to people and search robots.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">CSS</strong>
            Squeeze everything out of CSS.
            <strong class="content_accent">Grids</strong>,
            <strong class="content_accent">Flexbox</strong>,
            <strong class="content_accent">complex animations</strong> - no
            problem! What I can (and should) do with CSS, I do with it.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">JavaScript</strong>
            I use it in the context of front-end development and animation.
            <strong class="content_accent">Modern</strong>,
            <strong class="content_accent">efficient</strong> and
            <strong class="content_accent">clear</strong> to understand those
            who work with it. All that is needed - commented and optimized.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">React</strong>
            <strong class="content_accent">SPA</strong>,
            <strong class="content_accent">storybooks</strong>, things of any
            kind.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">SVG</strong>
            For me, it’s not just an extension for vector images. It’s a vector
            language with fantastic features that I use intensively.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">CSS preproccesors</strong>
            As a preprocessor I usually use
            <strong class="content_accent">Sass</strong> or
            <strong class="content_accent">PostCSS</strong>. But of course I can
            use both <strong class="content_accent">Stylus</strong>,
            <strong class="content_accent">Less</strong>, and
            <strong class="content_accent">CSS-in-JS</strong>. For React I
            usually use CSS modules and, if necessary, add PostCSS.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Template engines</strong>
            For HTML decomposition, I usually use
            <strong class="content_accent">PostHTML</strong>. If necessary, I
            use <strong class="content_accent">Handlebars</strong> or
            <strong class="content_accent">Nunjucks</strong>.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Webpack, Parcel etc.</strong>
            In general, I use <strong class="content_accent">Webpack</strong>. If the project is small, I use <strong class="content_accent">Parcel</strong>. If
            necessary, I write
            <strong class="content_accent">custom CLI</strong>.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Git</strong>
            Of course I work with Git. I use
            <strong class="content_accent">conventional commits</strong>,
            <strong class="content_accent">branching</strong>,
            <strong class="content_accent">review pull requests</strong> of my
            colleagues, resolve conflicts etc.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Responsiveness</strong>
            I make sure everything is perfect on every screen, on every
            resolution.
            <strong class="content_accent">Responsive design</strong>,
            <strong class="content_accent">adaptive</strong>, separate
            <strong class="content_accent">mobile version</strong> - do it
            right.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">
              Animation and interactivity</strong>
            I pay a lot of attention to animation, it’s my hobby. I breathe life
            into the UI and make the user remember and love the product.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Architecture and documentation</strong>
            I make <strong class="content_accent">scalable projects</strong> and
            write <strong class="content_accent">documentation</strong> to them so that the team will be pleased to
            work.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Linting and code-quality</strong>
            I’m all over it. <strong class="content_accent">ESLint</strong> +
            <strong class="content_accent">Stylelint</strong> +
            <strong class="content_accent">Prettier</strong>. And to that, I use
            <strong class="content_accent">Husky</strong> to automate the whole
            thing.
          </li>
          <li class="content_list-item">
            <strong class="content_accent-color content_accent-secondary">Accessibility</strong>
            I make it so that people with disabilities can use the product. It’s
            very important to me.
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
