.popup_city {
	width: 100vw;
	height: 100vh;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 50;
	color: black;
}

.popup_city .popup_city_container {
	width: 598px;
	min-height: 362px;
	padding: 30px;
	margin: -181px 0 0 -299px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 3px;
	background: white;
	opacity: 0;
}

.popup_city_display {
	display: block;
}

.close_city_container {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 35px;
	top: 40px;
	cursor: pointer;
}

.close_city_container:before {
	content: '';
	width: 2px;
	height: 19px;
	position: absolute;
	left: 0;
	top: 0;
	background: #aeaeae;
	transform: rotateZ(-45deg);
	transform-origin: 0 0;
	transition: background 0.3s;
}

.close_city_container:after {
	content: '';
	width: 2px;
	height: 18px;
	position: absolute;
	right: 0;
	top: -1px;
	background: #aeaeae;
	transform: rotateZ(45deg);
	transform-origin: 0 0;
	transition: background 0.3s;
}

.close_city_container:hover:before,
.close_city_container:hover:after {
	background: #e18432;
}

.popup_city_display .popup_city_container {
	animation: city_container_anim 0.7s forwards;
}

@keyframes city_container_anim {
	100% {
		opacity: 1;
	}
}

.popup_city_container h5 {
	width: 100%;
	position: relative;
	font-size: 25px;
	font-weight: 100;
}

.popup_city_container h5:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -25px;
	background: lightgray;
}

.popup_city_container ul {
	width: 100%;
	margin: 50px 0 0 0;
}

.popup_city_container ul li {
	width: 32.5%;
	margin-bottom: 15px;
	padding: 0 0 0 15px;
	display: inline-block;
	position: relative;
	font-size: 18px;
	font-weight: 100;
}

.popup_city_container ul li:before {
	content: '';
	width: 2px;
	height: 2px;
	margin: -1px 0 0 0;
	position: absolute;
	left: 0;
	top: 50%;
	background: #9a9a9a;
}

.popup_city_container ul li a {
	color: inherit;
	transition: color 0.3s;
}

.popup_city_container ul li a:hover {
	color: #e18432;
}