.eng .header_top .logo {
	width: 20%;
	height: 30%;
	background: url(../../images/basic/logo_eng.svg) no-repeat;
	position: absolute;
	left: 6.5%;
	top: 10%
}

.eng .header_top .lang a:nth-of-type(2) {
	background: none;
	float: right;
	color: #3e9dd6;
	border: 2px #3e9dd6 solid;
	line-height: 3vw;
}

.eng .header_top .lang a:nth-of-type(2):hover {
	color: #3e9dd6 !important;
}

.eng .header_top .lang a:nth-of-type(1) {
	background: #96cbe9;
	float: left;
	border: none;
	color: black;
	line-height: 3.4vw;
}

.eng .header_top .lang a:nth-of-type(1):hover {
	color: white;
}