.services {
	width: 100%;
	height: 83.65vw;
	text-align: center;
}

.services h2 {
	padding: 6.7% 0 4.2% 0;
	font-size: 55px;
}

.services article {
	width: 43.8%;
	height: 33vw;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-align: left;
	padding: 0.4% 0 0 15.4%;
}


.services article:before {
	content: "";
	width: 26%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: red;
	background-size: 76% !important;
}

.services article:nth-of-type(1):before {
	background: url(../../images/basic/icons/translate.svg) no-repeat center 3%;
}

.services article:nth-of-type(2):before {
	background: url(../../images/basic/icons/organisation.svg) no-repeat center 3%;
}

.services article:nth-of-type(3):before {
	background: url(../../images/basic/icons/soft_skills.svg) no-repeat center 3%;
}

.services article:nth-of-type(4):before {
	background: url(../../images/basic/icons/analitics.svg) no-repeat center 3%;
}

.services article:nth-of-type(2n) {
	margin-left: 1%;
}

.services article h3 {
	position: absolute;
	max-height: 90px;
	font-size: 24px;
	overflow: hidden;
}

.services article ul {
	position: absolute;
	top: 28%;
	font-size: 17px;
}

.services article ul li {
	margin-bottom: 9px;
	position: relative;
}

.services article ul li:before {
	content: "";
	width: 3px;
	height: 3px;
	position: absolute;
	background: black;
	border-radius: 50%;
	left: -14px;
	top: 43%;
}