@media all and (max-width: 1314px) {

	.news_page header {
		width: calc(100vw - 60px);
		padding: 0;
		position: relative;
		left: 63px;
		background-size: auto 100%;
		color: black;
	}

	.news_page .header_content {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	.news_page header .logo {
		background: url('../../images/global/logo_on_white.png') no-repeat left center;
		background-size: 100% auto;
	}

}

@media all and (max-width: 767px) {

	.news_page header {
		width: 100vw;
		padding: 0;
		position: relative;
		left: 0;
		background-size: auto 100%;
		color: black;
	}

	.news_page header .logo {
		background: url('../../images/global/logo_on_white.png') no-repeat left center;
		background-size: 100% auto;
	}

}

@media all and (max-width: 530px) {

	.news_page header .header_top_bar .weather_data {
		padding: 0 0 0 25px;
		margin: 0;
		background-size: auto 15px !important;
		background-position: 0 48%;
	}

	.news_page .header_top_bar .weather_and_city {
		min-width: auto;
		width: 130px;
		padding: 0;
	}

	.news_page .header_top_bar .logo {
		margin-right: 0;
	}

	.news_page .header_top_bar .weather_and_city {
		min-width: auto;
		width: 125px;
		padding: 0;
	}

	.news_page .header_top_bar .weather_data {
	}

}



@media all and (max-width: 380px) {

	.news_page .header_top_bar .weather_and_city {
		min-width: auto;
		width: 100px;
		padding: 0;
	}

	.news_page .header_top_bar .weather_data {
		padding: 0 !important;
		margin: 0;
		background: none !important;
	}

}

@media all and (max-width: 350px) {

	.news_page .header_top_bar .weather_and_city {
		min-width: auto;
		width: 80px;
		padding: 0;
	}

	.news_page .header_top_bar .weather_data {
		padding: 0 !important;
		margin: 0;
		background: none !important;
	}

}