@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);
.main,body{height:300px;}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0}.main{width:300px;background:url(../images/bg.png) no-repeat;background-size:100%;position:relative;overflow:hidden}.border,.bumblebee,.logo,.wing_1,.wing_3{position:absolute}.border{width:298px;height:298px;border:1px solid #000;z-index:5}.logo{width:120px;height:26px;background:url(../images/logo.jpg);top:15px}.bumblebee{width:62px;height:60px;background:url(../images/bee.png) no-repeat;left:-70px;top:167px;-webkit-transform:scale(-1,1);transform:scale(-1,1);z-index:5}.wing_1,.wing_2{top:-30px;left:30px}.wing_1{width:20px;height:35px;background:url(../images/wing_1.png);-webkit-transform:rotate(-65deg);transform:rotate(-65deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-animation:wing_1 7ms infinite alternate;animation:wing_1 7ms infinite alternate}@-webkit-keyframes wing_1{100%{-webkit-transform:rotate(65deg);transform:rotate(65deg)}}@keyframes wing_1{100%{-webkit-transform:rotate(65deg);transform:rotate(65deg)}}.wing_2{-webkit-transform:rotate(65deg);transform:rotate(65deg);-webkit-animation:wing_2 7ms infinite alternate;animation:wing_2 7ms infinite alternate}@-webkit-keyframes wing_2{100%{-webkit-transform:rotate(-65deg);transform:rotate(-65deg)}}@keyframes wing_2{100%{-webkit-transform:rotate(-65deg);transform:rotate(-65deg)}}.wing_3{width:64px;height:34px;background:url(../images/wing_3.png);background-size:100%;top:-25px;left:10px;-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-animation:wing_3 50ms infinite alternate;animation:wing_3 50ms infinite alternate}@-webkit-keyframes wing_3{100%{-webkit-transform:scaleX(.3);transform:scaleX(.3)}}@keyframes wing_3{100%{-webkit-transform:scaleX(.3);transform:scaleX(.3)}}.bumblebee_1{-webkit-animation:bumblebee_1_anim 12.9s forwards infinite ease-out;animation:bumblebee_1_anim 12.9s forwards infinite ease-out}@-webkit-keyframes bumblebee_1_anim{4.5%{left:-70px;top:167px}10.75%{left:125px;top:147px}96.9%{left:125px;top:147px;opacity:1}100%{left:125px;top:147px;opacity:0}}@keyframes bumblebee_1_anim{4.5%{left:-70px;top:167px}10.75%{left:125px;top:147px}96.9%{left:125px;top:147px;opacity:1}100%{left:125px;top:147px;opacity:0}}.bumblebee_2{-webkit-animation:bumblebee_2_anim 12.9s infinite forwards;animation:bumblebee_2_anim 12.9s infinite forwards;left:-65px;top:145px;opacity:1}@-webkit-keyframes bumblebee_2_anim{7.75%{left:42px}96.9%{left:42px;opacity:1}100%{left:42px;opacity:0}}@keyframes bumblebee_2_anim{7.75%{left:42px}96.9%{left:42px;opacity:1}100%{left:42px;opacity:0}}.bumblebee_3{-webkit-transform:scale(-.85,.85);transform:scale(-.85,.85);top:90px;-webkit-animation:bumblebee_3_anim 12.9s forwards infinite;animation:bumblebee_3_anim 12.9s forwards infinite}@-webkit-keyframes bumblebee_3_anim{4%{left:-70px}8.75%{left:40px}96.9%{left:40px;opacity:1}100%{left:40px;opacity:0}}@keyframes bumblebee_3_anim{4%{left:-70px}8.75%{left:40px}96.9%{left:40px;opacity:1}100%{left:40px;opacity:0}}.bumblebee_4{-webkit-transform:scale(-.7,.7);transform:scale(-.7,.7);top:65px;-webkit-animation:bumblebee_4_anim 12.9s forwards infinite ease-out;animation:bumblebee_4_anim 12.9s forwards infinite ease-out;left:-70px}@-webkit-keyframes bumblebee_4_anim{2.75%{left:-70px;top:65px}7.75%{left:80px;top:40px}9.75%{left:85px;top:45px}96.9%{left:85px;top:45px;opacity:1}100%{left:85px;top:45px;opacity:0}}@keyframes bumblebee_4_anim{2.75%{left:-70px;top:65px}7.75%{left:80px;top:40px}9.75%{left:85px;top:45px}96.9%{left:85px;top:45px;opacity:1}100%{left:85px;top:45px;opacity:0}}.bumblebee_5{-webkit-transform:scale(.8,.8);transform:scale(.8,.8);top:100px;left:300px;-webkit-animation:bumblebee_5_anim 12.9s forwards infinite ease-out;animation:bumblebee_5_anim 12.9s forwards infinite ease-out}@-webkit-keyframes bumblebee_5_anim{3.75%{left:300px}8.75%{left:220px}96.9%{left:220px;opacity:1}100%{left:220px;opacity:0}}@keyframes bumblebee_5_anim{3.75%{left:300px}8.75%{left:220px}96.9%{left:220px;opacity:1}100%{left:220px;opacity:0}}.bumblebee_shake,.bumblebee_shake_last,.bumblebee_shake_last+div,.bumblebee_shake_under:nth-of-type(6){top:0;left:0;position:absolute}.bumblebee_shake:nth-of-type(1){-webkit-animation:bumblebee_shake_anim 3.5s 0s infinite forwards linear;animation:bumblebee_shake_anim 3.5s 0s infinite forwards linear}@-webkit-keyframes bumblebee_shake_anim{35%{-webkit-transform:translate(-5px,5px);transform:translate(-5px,5px)}65%{-webkit-transform:translate(-9px,-3px);transform:translate(-9px,-3px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}.bumblebee_shake:nth-of-type(2){-webkit-animation:bumblebee_shake_anim 3.5s .3s infinite forwards linear;animation:bumblebee_shake_anim 3.5s .3s infinite forwards linear}.bumblebee_shake:nth-of-type(3){-webkit-animation:bumblebee_shake_anim 3.5s .9s infinite forwards linear;animation:bumblebee_shake_anim 3.5s .9s infinite forwards linear}.bumblebee_shake:nth-of-type(4){-webkit-animation:bumblebee_shake_anim 3.5s .6s infinite forwards linear;animation:bumblebee_shake_anim 3.5s .6s infinite forwards linear}.bumblebee_shake:nth-of-type(5){-webkit-animation:bumblebee_shake_anim 3.5s 1s infinite forwards linear;animation:bumblebee_shake_anim 3.5s 1s infinite forwards linear}.bumblebee_shake_under:nth-of-type(6){-webkit-animation:bumblebee_shake_anim 3.5s infinite forwards linear;animation:bumblebee_shake_anim 3.5s infinite forwards linear;z-index:5;opacity:.55}@keyframes bumblebee_shake_anim{35%{-webkit-transform:translate(-9px,-3px);transform:translate(-9px,-3px)}65%{-webkit-transform:translate(-5px,5px);transform:translate(-5px,5px)}100%{-webkit-transform:translate(0,0);transform:translate(0,0)}}.bumblebee_shake_last{-webkit-animation:bumblebee_shake_anim 3.5s .4s infinite forwards linear;animation:bumblebee_shake_anim 3.5s .4s infinite forwards linear}.bumblebee_shake_last+div{-webkit-animation:bumblebee_shake_anim 3.5s .43s infinite forwards linear;animation:bumblebee_shake_anim 3.5s .43s infinite forwards linear}.bumblebee_shake_under:nth-of-type(10){-webkit-animation:bumblebee_shake_anim 3.5s .49s infinite forwards linear;animation:bumblebee_shake_anim 3.5s .49s infinite forwards linear;position:absolute;top:0;left:0;z-index:5;opacity:.55}*{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.screen{width:59px;height:133px;background:url(../images/screen.png);position:absolute;top:57px;left:148px;opacity:0;-webkit-animation:screen_anim 12.9s forwards infinite;animation:screen_anim 12.9s forwards infinite;z-index:0}@-webkit-keyframes screen_anim{6.2%{opacity:0}10.08%,96.9%{opacity:1}100%{opacity:0}}@keyframes screen_anim{6.2%{opacity:0}10.08%,96.9%{opacity:1}100%{opacity:0}}.basic_yellow{width:200px;height:73px;background:url(../images/plane.png);position:absolute;top:220px;left:50px;opacity:0;z-index:2;-webkit-animation:basic_yellow_anim1 12.9s infinite forwards;animation:basic_yellow_anim1 12.9s infinite forwards}.text_1,.text_2{top:13px;left:18px}@-webkit-keyframes basic_yellow_anim1{6.2%{opacity:0}10.09%,96.9%{opacity:1}100%{opacity:0}}@keyframes basic_yellow_anim1{6.2%{opacity:0}10.09%,96.9%{opacity:1}100%{opacity:0}}.text_1{width:172px;height:43px;background:url(../images/text1.png);position:absolute;opacity:0;-webkit-animation:text_1_anim 12.9s infinite forwards;animation:text_1_anim 12.9s infinite forwards}.text_2,.text_3,.text_4{width:200px;height:73px;position:absolute}@-webkit-keyframes text_1_anim{6.2%{opacity:0}10.09%,25.58%{opacity:1}100%,29.46%{opacity:0}}@keyframes text_1_anim{6.2%{opacity:0}10.09%,25.58%{opacity:1}100%,29.46%{opacity:0}}.text_2{background:url(../images/sams.png) 5% 5% no-repeat,url(../images/gal.png) 15% 20% no-repeat;opacity:0;-webkit-animation:text_2_anim 12.9s infinite forwards;animation:text_2_anim 12.9s infinite forwards}@-webkit-keyframes text_2_anim{29.46%{opacity:0}33.46%,48.84%{opacity:1}100%,51.95%{opacity:0}}@keyframes text_2_anim{29.46%{opacity:0}33.46%,48.84%{opacity:1}100%,51.95%{opacity:0}}.text_3{background:url(../images/69.png) no-repeat;top:27px;left:21px;opacity:0;-webkit-animation:text_3_anim 12.9s infinite forwards;animation:text_3_anim 12.9s infinite forwards}@-webkit-keyframes text_3_anim{51.95%{opacity:0}54.95%,73.64%{opacity:1}100%,77.52%{opacity:0}}@keyframes text_3_anim{51.95%{opacity:0}54.95%,73.64%{opacity:1}100%,77.52%{opacity:0}}.text_4{background:url(../images/connect.png) 50% 30% no-repeat,url(../images/smart.png) 50% 50% no-repeat;opacity:0;-webkit-animation:text_4_anim 12.9s infinite forwards;animation:text_4_anim 12.9s infinite forwards}@-webkit-keyframes text_4_anim{77.52%{opacity:0}83.52%,96.9%{opacity:1}100%{opacity:0}}@keyframes text_4_anim{77.52%{opacity:0}83.52%,96.9%{opacity:1}100%{opacity:0}}
 .main {
	width: 300px !important;
	overflow: hidden !important;
}

html, body {
	width: 100%;
	height: 100%;
}



/**** Description ****/


html, body {
	background: #5c97bf !important;
}

.main {
	margin: -150px 0 0 -150px !important;
	position: absolute !important;
	left: 50% !important;
	top: 50% !important;
}

.description {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: opacity 0.5s, transform 0.5s 0.5s;
}

.description_hide {
	opacity: 0;
	transform: translateY(-100%);
}

.description h5 {
	padding: 7px 0;
	background: #b2cee1;
	font-weight: 300;
	color: black;
}

.description h5 a {
	color: inherit;
	text-decoration: none;
}

.description .close_icon {
	width: 10px;
	height: 10px;
	display: inline-block;
	position: absolute;
	right: 24px;
	top: 12px;
	cursor: pointer;
}

.description .close_icon:after {
	content: '';
	width: 15px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	transform: rotateZ(45deg);
	transform-origin: 0 0;
}

.description .close_icon:before {
	content: '';
	width: 15px;
	height: 1px;
	position: absolute;
	right: 0;
	top: 0;
	background: black;
	transform: rotateZ(-45deg);
	transform-origin: 100% 0;
}

.description .close_icon:hover:after,
.description .close_icon:hover:before {
	background: red;
}


/**** Description ****/