/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

html {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%; }
  @media all and (max-width: 1100px) {
    html * {
      -webkit-animation-delay: 0.0001s !important;
      animation-delay: 0.0001s !important;
      -webkit-animation-duration: 0.0001s !important;
      animation-duration: 0.0001s !important; }
    html body {
      overflow-y: auto; } }

body {
  min-width: 100vw;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }
  body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0; }
  body.show::after {
    opacity: 0;
    pointer-events: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

::-moz-selection {
  background: #f58888;
  color: white; }

::selection {
  background: #f58888;
  color: white; }

a:focus {
  background: #f58888;
  color: white;
  outline: none; }

body * {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important; }

body.playAnimation * {
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important; }

.iam {
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 25%;
  bottom: -3vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: none !important;
  transform: none !important; }
  @media all and (max-width: 1100px) {
    .iam {
      display: none; } }
  .iam svg {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0; }
  .iam .st0 {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 0.9; }
  .iam .part-3 .st1,
  .iam .part-4 .st1,
  .iam .part-5 .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-1 .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-1 .st2 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10; }
  .iam .part-2 .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10; }
  .iam .part-2 .st2 {
    opacity: 0.43;
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10;
    enable-background: new; }
  .iam .part-2 .st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-4 .st2 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10; }
  .iam .part-5 .st2 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-5 .st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10; }
  .iam .part-5 .st4 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10; }
  .iam .part-6 {
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s; }
    .iam .part-6 .st1 {
      fill: none;
      stroke: #000000;
      stroke-width: 0.7;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
    .iam .part-6.show {
      opacity: 1; }

.backgrounds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  pointer-events: none; }
  .backgrounds .background {
    position: absolute;
    left: 0;
    bottom: 0vw;
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear; }
    @media all and (max-width: 1100px) {
      .backgrounds .background {
        visibility: hidden; } }
    .backgrounds .background ellipse {
      fill: gainsboro; }
    .backgrounds .background .line-1 {
      width: 35vw;
      position: absolute;
      left: calc(50vw - 42.5vw);
      bottom: -8vw;
      opacity: 0;
      -webkit-animation: show 1.5s 6s forwards;
      animation: show 1.5s 6s forwards; }
    .backgrounds .background .line-1 .st0 {
      fill: none;
      stroke: #bebebe;
      stroke-miterlimit: 10; }
    .backgrounds .background .line-2 {
      width: 42vw;
      position: absolute;
      left: calc(50vw - 51.5vw);
      bottom: -3vw;
      opacity: 0;
      -webkit-animation: show 1.5s 6.5s forwards;
      animation: show 1.5s 6.5s forwards; }
    .backgrounds .background .line-2 .st0 {
      fill: none;
      stroke: gainsboro;
      stroke-miterlimit: 10; }
    .backgrounds .background .line-2 .st1 {
      fill: none;
      stroke: gainsboro;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
    .backgrounds .background .line-3 {
      width: 47vw;
      position: absolute;
      left: calc(50vw - 58vw);
      bottom: 9vw;
      opacity: 0;
      -webkit-transition: opacity 1.5s 1s;
      transition: opacity 1.5s 1s; }
    .backgrounds .background.show .line-3 {
      opacity: 1; }
    .backgrounds .background .line-3 .st0 {
      fill: none;
      stroke: #ebebeb;
      stroke-miterlimit: 10; }
  .backgrounds .background-2 {
    position: absolute;
    left: auto;
    right: -0.5vw;
    bottom: 0.7vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
    .backgrounds .background-2 .show {
      opacity: 1; }
    .backgrounds .background-2 .line-2 {
      left: calc(50vw - 51vw);
      bottom: -3vw; }
    .backgrounds .background-2 .line-3 {
      left: calc(50vw - 57vw);
      bottom: 9vw; }

.content {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media all and (max-width: 1100px) {
    .content {
      max-width: 500px;
      height: auto;
      min-height: 100%;
      margin: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .content .slogans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 86px;
    text-transform: uppercase;
    font-weight: bold;
    color: #505050;
    z-index: 1;
    -webkit-animation: hide 1s 6s forwards;
    animation: hide 1s 6s forwards; }
    @media all and (max-width: 1100px) {
      .content .slogans {
        display: none; } }
    .content .slogans li {
      width: 100%;
      margin-top: 10px;
      opacity: 0;
      will-change: transform, opacity; }
    .content .slogans li:nth-of-type(1) {
      -webkit-animation: show 1s 1s ease forwards;
      animation: show 1s 1s ease forwards; }
    .content .slogans li:nth-of-type(2) {
      -webkit-animation: show 1s 2s ease forwards;
      animation: show 1s 2s ease forwards; }
    .content .slogans li:nth-of-type(3) {
      -webkit-animation: show 1s 3s ease forwards;
      animation: show 1s 3s ease forwards; }
  .content .title {
    position: absolute;
    left: 60px;
    top: 40px;
    z-index: 2; }
    @media all and (max-width: 1100px) {
      .content .title {
        width: 100%;
        padding: 30px 20px 0 20px;
        position: static;
        font-size: calc(37px + 7vmin); } }
  .content .line {
    opacity: 0;
    display: block; }
  .content .name {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.05;
    color: #505050; }
  .content .title .line:nth-of-type(1) {
    font-size: 86px; }
    @media all and (max-width: 1100px) {
      .content .title .line:nth-of-type(1) {
        font-size: 1em; } }
  .content .title .line:nth-of-type(1) {
    -webkit-animation: show 2s 7s ease forwards;
    animation: show 2s 7s ease forwards; }
  .content .title .line:nth-of-type(2) {
    font-size: 70px; }
    @media all and (max-width: 1100px) {
      .content .title .line:nth-of-type(2) {
        font-size: 0.825em; } }
  .content .title .line:nth-of-type(2) {
    -webkit-animation: show 2s 7.5s ease forwards;
    animation: show 2s 7.5s ease forwards; }
  .content .title .line:nth-of-type(3) {
    -webkit-animation: show 2s 8s ease forwards;
    animation: show 2s 8s ease forwards; }
  .content .position {
    margin-top: 12px;
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    font-size: 26.2px;
    color: #a8a8a8; }
    @media all and (max-width: 1100px) {
      .content .position {
        font-size: 0.25em;
        margin-top: 10px; } }
  .content .description {
    width: 410px;
    position: absolute;
    right: 60px;
    top: 40px;
    font-size: 15px;
    line-height: 1.7;
    color: #353535;
    text-align: right;
    opacity: 0;
    z-index: 101;
    -webkit-animation: show 1.5s 8.5s forwards;
    animation: show 1.5s 8.5s forwards; }
    @media all and (max-width: 1100px) {
      .content .description {
        font-size: 16px;
        opacity: 1;
        width: 100%;
        padding: 30px 20px 30px 20px;
        text-align: left;
        position: static;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 1; } }
  .content p {
    margin-bottom: 10px; }
  .content strong {
    font-weight: 500;
    color: black; }
  .content .separator {
    margin: 0 3px; }
  .content .open span {
    position: relative; }
  .content .open span::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #303030;
    display: none; }
  .content .down {
    width: 20px;
    height: auto;
    position: absolute;
    left: calc(50% - 10px);
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    @media all and (max-width: 1100px) {
      .content .down {
        display: block;
        -webkit-animation: scroll-anim 0.7s infinite alternate;
        animation: scroll-anim 0.7s infinite alternate; } }

@-webkit-keyframes scroll-anim {
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }

@keyframes scroll-anim {
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }

@-webkit-keyframes show {
  100% {
    opacity: 1; } }

@keyframes show {
  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  100% {
    opacity: 0; } }

@keyframes hide {
  100% {
    opacity: 0; } }
