/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

html {
  max-width: 100vw;
  overflow: hidden; }

body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }
  @media all and (max-width: 1100px) {
    body.showContent {
      overflow: auto; }
      body.showContent .down {
        opacity: 1; } }
  body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0; }
  body.show::after {
    opacity: 0;
    pointer-events: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

::-moz-selection {
  background: #f58888;
  color: white; }

::selection {
  background: #f58888;
  color: white; }

*:focus {
  background: #f58888;
  color: white;
  outline: none; }

.initScreen {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .initScreen .slogans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 50px;
    top: 30px;
    font-size: 86px;
    text-transform: uppercase;
    font-weight: bold;
    color: #505050;
    z-index: 1; }
    @media all and (max-width: 1100px) {
      .initScreen .slogans {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-size: 18vw;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-shadow: 2px 2px 3px #dbdbdb; } }
    .initScreen .slogans.hide {
      -webkit-animation: hide-slogans 1s forwards;
      animation: hide-slogans 1s forwards; }
    .initScreen .slogans li {
      width: 250px;
      margin-top: 10px;
      opacity: 0;
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
      will-change: transform, opacity; }
    .initScreen .slogans.animate li:nth-of-type(1) {
      -webkit-animation: show-slogan 0.5s forwards;
      animation: show-slogan 0.5s forwards; }
    .initScreen .slogans.animate li:nth-of-type(2) {
      -webkit-animation: show-slogan 0.5s 1.5s forwards;
      animation: show-slogan 0.5s 1.5s forwards; }
    .initScreen .slogans.animate li:nth-of-type(3) {
      -webkit-animation: show-slogan 0.5s 3s forwards;
      animation: show-slogan 0.5s 3s forwards; }

@-webkit-keyframes show-slogan {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes show-slogan {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes hide-slogans {
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0; } }

@keyframes hide-slogans {
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0; } }
  .initScreen .title {
    position: absolute;
    left: 60px;
    top: 40px;
    z-index: 2; }
    @media all and (max-width: 1100px) {
      .initScreen .title {
        width: 100%;
        min-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: static; } }
  .initScreen .line {
    display: block;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px); }
  .initScreen .title.show .line {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .initScreen .name {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #505050; }
    @media all and (max-width: 1100px) {
      .initScreen .name {
        text-shadow: 2px 2px 3px #dbdbdb; } }
  .initScreen .l-1 {
    font-size: 86px;
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s, -webkit-transform 1s; }
    @media all and (max-width: 1100px) {
      .initScreen .l-1 {
        font-size: 18vw; } }
  .initScreen .title.show .l-1 {
    opacity: 1; }
  .initScreen .l-2 {
    font-size: 70px;
    opacity: 0;
    -webkit-transition: opacity 1s 0.2s, -webkit-transform 1s 0.2s;
    transition: opacity 1s 0.2s, -webkit-transform 1s 0.2s;
    transition: transform 1s 0.2s, opacity 1s 0.2s;
    transition: transform 1s 0.2s, opacity 1s 0.2s, -webkit-transform 1s 0.2s; }
    @media all and (max-width: 1100px) {
      .initScreen .l-2 {
        font-size: 15vw; } }
  .initScreen .title.show .l-2 {
    opacity: 1; }
  .initScreen .l-3 {
    opacity: 0;
    -webkit-transition: opacity 1s 0.4s, -webkit-transform 1s 0.4s;
    transition: opacity 1s 0.4s, -webkit-transform 1s 0.4s;
    transition: transform 1s 0.4s, opacity 1s 0.4s;
    transition: transform 1s 0.4s, opacity 1s 0.4s, -webkit-transform 1s 0.4s; }
  .initScreen .title.show .l-3 {
    opacity: 1; }
  .initScreen .position {
    margin-top: 15px;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    font-size: 26.2px;
    -moz-tab-size: left;
    -o-tab-size: left;
    tab-size: left;
    color: #a8a8a8; }
    @media all and (max-width: 1100px) {
      .initScreen .position {
        font-size: 5.3vw;
        text-shadow: 2px 2px 3px #dbdbdb; } }
  .initScreen .description {
    width: 400px;
    position: absolute;
    right: 60px;
    top: 40px;
    font-size: 15px;
    line-height: 1.7;
    color: #353535;
    text-align: right;
    opacity: 0;
    will-change: opacity;
    -webkit-transition: opacity 1.5s 1s;
    transition: opacity 1.5s 1s; }
    @media all and (max-width: 1100px) {
      .initScreen .description {
        width: 100%;
        padding: 30px 30px 30px 30px;
        text-align: left;
        position: static;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 1; } }
    .initScreen .description.show {
      opacity: 1; }
  .initScreen p {
    margin-bottom: 10px; }
  .initScreen strong {
    font-weight: 500;
    color: black; }
  .initScreen .separator {
    margin: 0 3px;
    font-weight: bold; }
  .initScreen .open {
    font-weight: 500; }
    .initScreen .open span {
      border-bottom: 2px black solid; }
  .initScreen .down {
    width: 20px;
    height: auto;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 15px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    @media all and (max-width: 1100px) {
      .initScreen .down {
        display: block;
        -webkit-animation: scroll-anim 0.7s infinite alternate;
        animation: scroll-anim 0.7s infinite alternate; } }

@-webkit-keyframes scroll-anim {
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }

@keyframes scroll-anim {
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }

.background {
  position: absolute;
  left: 0;
  bottom: 0vw; }
  @media all and (max-width: 1100px) {
    .background {
      display: none; } }
  .background ellipse {
    fill: gainsboro; }
  .background .line-1 {
    width: 35vw;
    position: absolute;
    left: calc(50vw - 42.5vw);
    bottom: -8vw;
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s; }
  .background.show .line-1 {
    opacity: 1; }
  .background .line-1 .st0 {
    fill: none;
    stroke: #bebebe;
    stroke-miterlimit: 10; }
  .background .line-2 {
    width: 42vw;
    position: absolute;
    left: calc(50vw - 51.5vw);
    bottom: -3vw;
    opacity: 0;
    -webkit-transition: opacity 1.5s 0.5s;
    transition: opacity 1.5s 0.5s; }
  .background.show .line-2 {
    opacity: 1; }
  .background .line-2 .st0 {
    fill: none;
    stroke: gainsboro;
    stroke-miterlimit: 10; }
  .background .line-2 .st1 {
    fill: none;
    stroke: gainsboro;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .background .line-3 {
    width: 47vw;
    position: absolute;
    left: calc(50vw - 58vw);
    bottom: 9vw;
    opacity: 0;
    -webkit-transition: opacity 1.5s 1s;
    transition: opacity 1.5s 1s; }
  .background.show .line-3 {
    opacity: 1; }
  .background .line-3 .st0 {
    fill: none;
    stroke: #ebebeb;
    stroke-miterlimit: 10; }

.background-2 {
  position: absolute;
  left: auto;
  right: -0.5vw;
  bottom: 0.7vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s; }
  .background-2 .show {
    opacity: 1; }
  .background-2 .line-2 {
    left: calc(50vw - 51vw);
    bottom: -3vw; }
  .background-2 .line-3 {
    left: calc(50vw - 57vw);
    bottom: 9vw; }

.iam {
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 25%;
  bottom: -3vw; }
  @media all and (max-width: 1100px) {
    .iam {
      width: 150%;
      left: -24%;
      position: fixed;
      opacity: 0.3; } }
  .iam svg {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0; }
  .iam .st0 {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 0.9; }
  .iam .part-3 .st1,
  .iam .part-4 .st1,
  .iam .part-5 .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-1 .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-1 .st2 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10; }
  .iam .part-2 .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10; }
  .iam .part-2 .st2 {
    opacity: 0.43;
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10;
    enable-background: new; }
  .iam .part-2 .st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.4;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-4 .st2 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10; }
  .iam .part-5 .st2 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-linecap: round;
    stroke-miterlimit: 10; }
  .iam .part-5 .st3 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.7;
    stroke-miterlimit: 10; }
  .iam .part-5 .st4 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10; }
  .iam .part-6 {
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s; }
    .iam .part-6 .st1 {
      fill: none;
      stroke: #000000;
      stroke-width: 0.7;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
    .iam .part-6.show {
      opacity: 1; }
