/***** Main page *****/

@media all and (max-width: 768px) {
	html {
		font-size: 16px;
	}

	.main_page {
	  background: #5c97bf;
	}

	.main_page h1 {
	 	padding: 3.3% 3%;
	}

	.contact {
		min-height: 120px;
	}

	.contact ul li a {
	  line-height: 40px;
	}

	.about_block {
	  width: 100vw;
	  min-height: 100vh;
	  bottom: 0;
	  left: 0;
	  top: 0;
	  font-size: 1.15rem;
	  border: none;
	  border-top: 1px white dashed;
	}

	.about_block .about {
	  width: 100%;
	  padding: 0 0 10px 0;
	}

	.about_block .av {
		display: none;
	}

	.about_block aside {
	  padding: 1.8rem 2rem;
	}

	/* Close about */

	.close_about_icon {
		width: 100%;
		height: 50px;
		display: block;
		background: #7a87b4;
		text-align: center;
	}

	.close_about_icon span {
		font-size: 20px;
		line-height: 50px;
	}
}

@media all and (max-width: 540px) and (orientation: portrait) {

	.main_page h1 {
		 width: calc(100vw - 1em);
	}
}

@media all and (max-width: 540px) {

	.main_page .lang {
		left: 0.71em;
	  font-size: 1.1em;
	}

	.main_page nav {
	  right: 0.71em;
	}

	.main_page nav li {
	  margin-left: 1em;
	  font-size: 1.1em;
	}

	.contact {
	  right:0.71em;
	}

	.main_page h1 {
		 max-width: calc(100vw - 1em) !important;
	}

}

@media all and (max-width: 395px) {

	.main_page .lang {
		left: 1em;
	  font-size: 0.91em;
	}

	.main_page nav li {
	  float: left;
	  margin-left: 0.5em;
	  font-size: 0.91em;
	}

}

@media all and (max-height: 300px) {

	.main_page .introduction {
		top: 6.5em;
	}

	.main_page .introduction h1 {
		animation: none;
		background: rgba(59, 186, 130, 0.8);
	}

	.main_page h1 * {
		animation: none !important;
		color: white !important;
	}

}

/***** Main page end *****/



/***** Work page *****/

@media all and (max-width: 768px) {

	.web_pages,
	.web_animation {
		margin-top: 0.5rem;
	}

	.work_page > section h2 {
	  width: 100%;
	  height: auto;
	  padding: 0.5rem;
	  min-height: 6vw;
	  margin: 2.5vw 0 4vw 0;
	  font-size: 18px;
	  text-align: center;
	  line-height: 6vw;
	}

	.work_page .column {
		width: 100%;
		margin-right: 0;
	}

	.column .item {
		height: 48.5vw !important;
		position: relative;
	}

	.item,
	.double_item {
		margin: 0 !important;
		margin-bottom: 4.5vw !important;
	}

	.column .item:after {
		content: '';
		width: 100%;
		height: 10vw;
		position: absolute;
		left: 0;
		bottom: 0;
		background: linear-gradient(to bottom, transparent, #5c97bf);
	}

	.web_animation .half_of_double_item:after {
	  width: 48% !important;
	}

	.web_animation .columns_block {
	  width: 100%;
	}

	.web_animation .item,
	.web_animation .double_item {
	  height: 22vw !important;
	  position: relative;
	}

	.web_animation .item:after,
	.web_animation .double_item:after {
		content: '';
		width: 100%;
		height: 10vw;
		position: absolute;
		left: 0;
		bottom: 0;
		background: linear-gradient(to bottom, transparent, rgba(59, 186, 130, 1));
		z-index: 0;
		pointer-events: none;
	}

	.works_frame {
	  min-height: calc(100vh - 3.7rem);
	}

}

/***** Work page end *****/



/***** Backgrounds *****/

@media all and (min-width: 1600px) {

	.web_pages .column:nth-of-type(1) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/1600+/site_1.jpg');
	}

	.web_pages .column:nth-of-type(1) .item:nth-of-type(2) {
	  background: url('../../images/portfolio_page/sites/1600+/site_5.jpg');
	}

	.web_pages .column:nth-of-type(2) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/1600+/site_2.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/1600+/site_3.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(2) {
	  background: url('../../images/portfolio_page/sites/1600+/site_6.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(3) {
	  background: url('../../images/portfolio_page/sites/1600+/site_4.jpg');
	}

}

@media all and (min-width: 481px) and (max-width: 768px) {

	.web_pages .column:nth-of-type(1) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/481-768/site_1.jpg');
	}

	.web_pages .column:nth-of-type(1) .item:nth-of-type(2) {
	  background: url('../../images/portfolio_page/sites/481-768/site_5.jpg');
	}

	.web_pages .column:nth-of-type(2) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/481-768/site_2.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/481-768/site_3.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(2) {
	  background: url('../../images/portfolio_page/sites/481-768/site_6.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(3) {
	  background: url('../../images/portfolio_page/sites/481-768/site_4.jpg');
	}

}

@media all and (max-width: 480px) {

	.web_pages .column:nth-of-type(1) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/0-480/site_1.jpg');
	}

	.web_pages .column:nth-of-type(1) .item:nth-of-type(2) {
	  background: url('../../images/portfolio_page/sites/0-480/site_5.jpg');
	}

	.web_pages .column:nth-of-type(2) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/0-480/site_2.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(1) {
	  background: url('../../images/portfolio_page/sites/0-480/site_3.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(2) {
	  background: url('../../images/portfolio_page/sites/0-480/site_6.jpg');
	}

	.web_pages .column:nth-of-type(3) .item:nth-of-type(3) {
	  background: url('../../images/portfolio_page/sites/0-480/site_4.jpg');
	}

}

/***** Backgrounds end *****/