.for_old_browsers {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background: white;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	overflow-y: auto;
}

.for_old_browsers_contect {
	min-width: 320px;
	max-width: 450px;
	margin: 20px auto;
	padding: 20px 20px 25px 20px;
	position: relative;
	background: #3d4d9a;
	font-size: 20px;
}

.for_old_browsers_contect h5 {
	margin: 10px 0;
	font-size: 20px !important;
	font-weight: 300;
}

.for_old_browsers_contect p:first-of-type {
	padding: 0 0 4px 0;
}

.for_old_browsers_contect ul {
	margin: 25px 0 0 0;
	color: #3d4d9a;
}

.for_old_browsers_contect ul li {
	margin: 14px 0 0 0;
	padding: 4px 0;
	background: white;
	text-align: center;
	transition: all 0.2s;
}

.for_old_browsers_contect ul li:hover {
	background: #3bba82;
}

.for_old_browsers_contect ul li:hover a {
	color: white;
}

.for_old_browsers_contect ul li:hover a:after {
	filter:  brightness(5);
	-webkit-filter:  brightness(5);
}



.for_old_browsers_contect ul a {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	color: #3d4d9a;
	transition: all 0.2s;
}

.for_old_browsers_contect ul a:after {
	content: '';
	width: 30px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 7px;
	background: url('../../images/main_page/link_icon.png') no-repeat;
	background-size: auto 13px;
}

.for_old_browsers_contect p:last-of-type {
	margin: 25px 0 0 0;
	text-align: center;
}