/***** Basic *****/

html {
  background: linear-gradient(to bottom, #5c97bf 70%, white 100%);
}

.main_page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/***** Basic end *****/



/***** Navigation *****/

.main_page nav {
  position: absolute;
  right: 1.8rem;
  top: 1.1rem;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  z-index: 5;
}

.main_page nav li {
  float: left;
  margin-left: 2.8rem;
}

.main_page nav li:hover {
  border-bottom: 1px white solid;
}


/***** Navigation end *****/



/***** Modal *****/

/* About */

.about_block {
  display: none;
  width: 50vw;
  max-height: 80vh;
  position: absolute;
  top: 3.5rem;
  left: 25vw;
  margin: 0 auto;
  z-index: 15;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.15rem;
  color: white;
  border: 1px white dashed;
  opacity: 0;
}

.about_block .about {
  width: 100%;
  padding: 0 0 1rem 0;
  background: rgba(59, 186, 130, 0.8);
  display: block;
}

.display {
  display: block !important;
}

.opacity {
  opacity: 0;
}

/* The duplication is necessary */
.opacity_to_intro {
  opacity: 0;
}

.about_block .av {
  width: 10vw;
  height: 10vw;
  margin: 2.5rem 0 0 2.7vw;
  float: left;
  border-radius: 50%;
  background: url('../../images/main_page/av.jpg') no-repeat center center;
  background-size: 100.5% auto;
  position: fixed;
  box-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white;
  transform: translateZ(0);
}

.about_block aside {
  padding: 2.2rem 2vw 0 15vw;
}

.about_block aside p:first-of-type {
  position: relative;
  line-height: 1.6;
}

.about_block aside p:first-of-type:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1.7rem;
  background: white;
}


.about_block aside h2 {
  margin-top: 3rem;
  text-align: center;
}

.about_block aside * {
  margin-bottom: 1rem;
}

.about_block ul strong {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  position: relative;
  font-weight: 400;
}

.about_block ul strong:before {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
}

/* Close about */

.close_about_icon {
    display: none;
}

/* Contact */

.contact {
  min-width: 16.02rem;
  height: auto;
  min-height: auto;
  display: none;
  position: absolute;
  right: 1.9rem;
  top: 3.5rem;
  border: 1px white dashed;
  font-size: 1.2rem;
  background: rgba(59, 186, 130, 0.8);
  font-family: 'Open Sans Condensed', sans-serif;
  z-index: 5;
}

.contact a {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.contact ul {
  width: 100%;
  height: 100%;
}

.contact ul li {
  width: 100%;
  height: 33.333%;
  text-align: center;
}

.contact ul li:first-of-type {
  padding-top: 0.35rem;
}

.contact ul li:last-of-type {
  border: none;
  padding-bottom: 0.35rem;
}

.contact ul li a {
  height: 100%;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}

.contact ul li:hover {
  background: rgb(59, 166, 130);
}


/***** Modal end *****/



/***** Backgroud *****/

.main_page .hills {
  width: 102%;
  position: absolute;
  bottom: -3px;
  left: -0.5%;
  transform: translateY(5.6vw);
  z-index: 2;
  animation: hills_anim 1.8s forwards;
}

@keyframes hills_anim {
  100% {
    transform: translateY(0);
  }
}

.main_page .mountains_1 {
  width: 40%;
  position: absolute;
  bottom: -1%;
  left: 0%;
  z-index: 0;
  transition: none;
  transform: translateY(14vw);
  animation: mountains_1_anim 2.3s 2s forwards;
}

@keyframes mountains_1_anim {
  100% {
    transform: translateY(0);
  }
}

.main_page .mountains_2 {
  width: 60%;
  position: absolute;
  bottom: -2%;
  left: 35%;
  z-index: 1;
  transition: none;
  transform: translateY(20vw);
  animation: mountains_2_anim 2.3s 1s forwards;
}

@keyframes mountains_2_anim {
  100% {
    transform: translateY(0);
  }
}

.main_page .mountains_3 {
  width: 30%;
  position: absolute;
  bottom: 0%;
  right: 0;
  z-index: 0;
  transition: none;
  transform: translateY(26.5vw);
  animation: mountains_3_anim 2s 3s forwards;
}

@keyframes mountains_3_anim {
  100% {
    transform: translateY(0);
  }
}

/***** Backgroud end *****/



/***** Clouds *****/

.main_page .clouds {
  font-size: .7em;
  position: absolute;
  top: 5%;
  left: 30%;
  transform: translateX(0vw);
  width: 4em;
  height: 3.5em;
  border-radius: 50%;
  background: #8ab3cf;
  box-shadow: 1.2em .7em 0 #8ab3cf, -1.2em .7em 0 #8ab3cf, -.3em 2.3em 0 #8ab3cf;
  animation: clouds 50s linear infinite forwards;
  z-index: -2;
  opacity: 0;
  transition: opacity 1s 2s;
}

.main_page .clouds:before {
  font-size: inherit;
  position: inherit;
  top: 2.3em;
  left: 2.3em;
  width: 4em;
  height: 3.5em;
  content: '';
  border-radius: 50%;
  background: inherit;
}

.main_page .clouds:after {
  font-size: inherit;
  position: inherit;
  top: 2.3em;
  left: -3em;
  width: 9em;
  height: 3.5em;
  content: '';
  border-radius: 25%/50%;
  background: inherit;
}

@keyframes clouds {
  60% {
    transform: translateX(75vw) translateY(0vh);
  }

  60.01% {
    transform: translateX(75vw) translateY(105vh);
  }

  60.02% {
    transform: translateX(-45vw) translateY(105vh);
  }

  60.03% {
    transform: translateX(-45vw) translateY(0vh);
  }
}

.main_page .cloud_2 {
  font-size: 1.1em;
  top: 20%;
  left: 0;
  width: 4em;
  height: 3.5em;
  transform: translateX(0) scaleX(-1);
  animation: clouds_2 50s linear infinite, clouds_opacity 5.5s linear;
  transition: opacity 1s 1s;
}

@keyframes clouds_2 {
  93% {
    transform: translateX(105vw) scaleX(-1) translateY(0vh);
  }

  93.01% {
    transform: translateX(105vw) scaleX(-1) translateY(105vh);
  }

  93.02% {
    transform: translateX(-10vw) scaleX(-1) translateY(105vh);
  }

  93.03% {
    transform: translateX(-10vw) scaleX(-1) translateY(0vh);
  }
}

@keyframes clouds_2_ie {
  93% {
    transform: translateX(105vw) translateY(0vh);
  }

  93.01% {
    transform: translateX(105vw) translateY(105vh);
  }

  93.02% {
    transform: translateX(-10vw) translateY(105vh);
  }

  93.03% {
    transform: translateX(-10vw) translateY(0vh);
  }
}

.main_page .cloud_3 {
  font-size: .9em;
  top: 15%;
  left: 70%;
  animation: clouds_3 50s linear infinite, clouds_opacity 5.5s linear;
  transition: opacity 1s 3s;
}

@keyframes clouds_3 {
  35% {
    transform: translateX(35vw) translateY(0vh);
  }

  35.01% {
    transform: translateX(35vw) translateY(105vh);
  }

  35.02% {
    transform: translateX(-80vw) translateY(105vh);
  }

  35.03% {
    transform: translateX(-80vw) translateY(0vh);
  }
}

/***** Clouds end *****/



/***** Introduction *****/

.main_page .introduction {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 2;
  transition: none;
}

.main_page h1 {
  max-width: 100%;
  margin-top: -1.64em;
  padding: 1.5% 4%;
  font-size: 1.7em;
  font-weight: 200;
  display: inline-block;
  transform-origin: 50% 0%;
  animation: borders 4s forwards;
  letter-spacing: 0.08em;
  color: transparent;
  border: 1px transparent solid;
  will-change: transform;
  -webkit-will-change: transform;
  transform: translateZ(0);
  z-index: 1;
}

.main_page .h1_transition {
  transition: opacity 1s;
}

.main_page .h1_opacity {
  transition: none;
  opacity: 0;
}

.main_page .introduction span {
  width: 100%;
  display: block;
  line-height: 1.2;
  color: transparent;
}

.main_page .introduction span:nth-of-type(1) {
  animation: text 0.95s 0.5s forwards linear;
  color: transparent;
  will-change: all;
  -webkit-will-change: all;
}

.main_page .introduction span:nth-of-type(2) {
  animation: text 0.95s 1.5s forwards linear;
  color: transparent;
  will-change: all;
  -webkit-will-change: all;
}

.main_page .introduction span:nth-of-type(3) {
  animation: text_2 0.95s 2.5s forwards linear;
  color: transparent;
  will-change: all;
  -webkit-will-change: all;
}

@keyframes borders {
  0% {
    border-top: 1px transparent solid;
    border-right: 1px transparent solid;
    border-bottom: 1px transparent solid;
    border-left: 1px transparent solid;
  }

  25% {
    border-top: 1px transparent solid;
    border-right: 1px transparent solid;
    border-bottom: 1px white solid;
    border-left: 1px transparent solid;
  }

  50% {
    border-top: 1px transparent solid;
    border-right: 1px transparent solid;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
  }

  75% {
    border-top: 1px white solid;
    border-right: 1px transparent solid;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
  }

  100% {
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
  }
}

@keyframes text {
  70% {
    color: transparent;
  }

  100% {
    color: white;
  }
}

@keyframes text_2 {
  70% {
    color: transparent;
  }

  100% {
    color: white;
  }
}

/***** Introduction end *****/



/***** Lang *****/

.main_page .lang {
  position: absolute;
  left: 1.8rem;
  top: 1.2rem;
  letter-spacing: 0.5px;
  z-index: 5;
}

.main_page .lang a {
  display: inline-block;
  font-size: 1.3em;
  position: relative;
  margin: 0 0.3em 0 0;
  line-height: 1em;
}

.ru_version .lang a:nth-of-type(1) {
  border-bottom: 1px white solid;
}

.ua_version .lang a:nth-of-type(2) {
  border-bottom: 1px white solid;
}

.eng_version .lang a:nth-of-type(3) {
  border-bottom: 1px white solid;
}

.main_page .lang a:hover {
  border-bottom: 1px white solid;
}

/***** Lang end *****/



/***** Works frame *****/

.works_frame {
  width: 100vw;
  min-height: 92vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  border: none;
  border-top: 1px white dashed;
  display: none;
  opacity: 0;
  transition: opacity 0.7s;
}

.display_this_block {
  animation: display_this_block_anim 0.7s forwards;
  display: block;
  z-index: 10 !important;
}

@keyframes display_this_block_anim {
  100% {
    opacity: 1;
  }
}

/***** Works frame end *****/