/***** Sites *****/

.work_page {
  padding: 0.3vw 0;
  position: relative;
  font-family: 'Open Sans Condensed';
}

.work_page * {
  box-sizing: border-box;
}

.web_pages {
  width: 44.1%;
  padding: 0 0vw 0 1vw;
  margin: 0 0 0.9vw 3.25vw;
  float: left;
}

.work_page h2 {
  width: 100%;
  height: 2.75vw;
  margin: 1.5vw 0;
  font-size: 1.2rem;
  border: 1px white solid;
  text-align: center;
  line-height: 2.6vw;
  color: white;
}

.web_pages .column {
  float: left;
  width: 31.95%;
  margin-right: 2.07%;
}

.web_pages .item {
  width: 100%;
  height: 15.5vw;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
}

.column .item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.work_page .column:last-of-type {
  margin: 0;
}

.web_pages .column:nth-of-type(1) .item:nth-of-type(1) {
  height: 32.9vw;
}

.web_pages .column:nth-of-type(1) .item:nth-of-type(2) {
  height: 53vw;
}

.web_pages .column:nth-of-type(2) .item:nth-of-type(1) {
  height: 70.4vw;
}

.web_pages .column:nth-of-type(3) .item:nth-of-type(1) {
  height: 25.6vw;
}

.web_pages .column:nth-of-type(3) .item:nth-of-type(2) {
  height: 20.6vw;
}

.web_pages .column:nth-of-type(3) .item:nth-of-type(3) {
  height: 21.8vw;
}

/* Basic backgrounds */

@media all and (min-width: 769px) and (max-width: 1559px) {

.web_pages .column:nth-of-type(1) .item:nth-of-type(1) {
  background: url('../../images/portfolio_page/sites/769-1559/site_1.jpg');
}

.web_pages .column:nth-of-type(1) .item:nth-of-type(2) {
  background: url('../../images/portfolio_page/sites/769-1559/site_5.jpg');
}

.web_pages .column:nth-of-type(2) .item:nth-of-type(1) {
  background: url('../../images/portfolio_page/sites/769-1559/site_2.jpg');
}

.web_pages .column:nth-of-type(3) .item:nth-of-type(1) {
  background: url('../../images/portfolio_page/sites/769-1559/site_3.jpg');
}


.web_pages .column:nth-of-type(3) .item:nth-of-type(2) {
  background: url('../../images/portfolio_page/sites/769-1559/site_6.jpg');
}

.web_pages .column:nth-of-type(3) .item:nth-of-type(3) {
  background: url('../../images/portfolio_page/sites/769-1559/site_4.jpg');
}

}

/***** Sites end *****/



/***** Animation *****/

.web_animation {
  width: 44.1%;
  float: right;
  margin: 0 4.25vw 0.9vw 0;
}

.columns_block {
  width: 49%;
  float: left;
}

.columns_block:first-of-type {
  margin: 0 2% 0 0;
}

.web_animation .item,
.web_animation .double_item {
  width: 100%;
  color: white;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  display: block;
  font-size: 0;
}

.item,
.double_item {
  margin-bottom: 0.8vw;
}

* {
  box-sizing: border-box;
}

.web_animation .double_item {
  height: 17.2vw;
}


.web_animation * {
}

.web_animation .double_item div {
  width: 48%;
  height: 100%;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  float: right;
}

.web_animation .item div a,
.web_animation .item a,
.web_animation .double_item div a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.work_page .web_pages a:hover,
.work_page .web_animation a:hover {
  background: rgba(0, 0, 0, 0.4);
}
 
.work_page .web_pages a:hover:after,
.work_page .web_animation a:hover:after {
  content: '';
  width: 3vw;
  height: 3vw;
  margin: -1.5vw 0 0 -1.5vw;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../../images/portfolio_page/icons/view_icon.png') no-repeat;
  background-size: 100% auto;
}

.web_animation .double_item div:nth-of-type(1) {
  float: left;
}

/* Column one */

.columns_block_one .item:nth-of-type(1) {
  height: 12.2vw;
  background: url('../../images/portfolio_page/web_animation/banner_1.jpg');
}

.columns_block_one .double_item:nth-of-type(2) div:nth-of-type(1) {
  background: url('../../images/portfolio_page/web_animation/banner_2.jpg');
}

.columns_block_one .double_item:nth-of-type(2) div:nth-of-type(2) {
  background: url('../../images/portfolio_page/web_animation/banner_3.jpg');
}

.columns_block_one .double_item:nth-of-type(3) div:nth-of-type(1) {
  background: url('../../images/portfolio_page/web_animation/banner_7.jpg');
}

.columns_block_one .double_item:nth-of-type(3) div:nth-of-type(2) {
  background: url('../../images/portfolio_page/web_animation/banner_8.jpg');
}

.columns_block_one .double_item:nth-of-type(4) {
  height: 10.45vw;
}

.columns_block_one .double_item:nth-of-type(4) div:nth-of-type(1) {
  background: url('../../images/portfolio_page/web_animation/banner_10.jpg');
}

.columns_block_one .double_item:nth-of-type(4) div:nth-of-type(2) {
  background: url('../../images/portfolio_page/web_animation/banner_11.jpg');
}

/* Column two */

.columns_block_two .double_item:nth-of-type(1) div:nth-of-type(1) {
  background: url('../../images/portfolio_page/web_animation/banner_4.jpg');
}

.columns_block_two .double_item:nth-of-type(1) div:nth-of-type(2) {
  background: url('../../images/portfolio_page/web_animation/banner_9.jpg');
}

.columns_block_two .item:nth-of-type(2) {
  height: 13.5vw;
  background: url('../../images/portfolio_page/web_animation/banner_5.jpg');
}

.columns_block_two .double_item:nth-of-type(3) div:nth-of-type(2) {
  background: url('../../images/portfolio_page/web_animation/banner_11.jpg');
}

.columns_block_two .double_item:nth-of-type(3) div:nth-of-type(1) {
  background: url('../../images/portfolio_page/web_animation/banner_6.jpg');
}

.columns_block_two .double_item:nth-of-type(3) div:nth-of-type(2) {
  display: none;
}







/***** Animation end *****/