@media all and (max-width: 1314px) {


	.about_page .about_block {
		width: calc(100vw - 63px);
		margin: 45px auto 0 auto;
		padding: 0 25px;
		position: relative;
		left: 31px;
		color: black;
	}

	.about_page .about_block .description {
		margin-bottom: 30px;
	}

	.about_page .about_block .partners_block {
		text-align: center;
	}

	.about_page .about_block .partners_block {
		margin-bottom: 45px;
	}

	.about_page .about_block .partners_block a {
		width: 153px !important;
		min-height: 70px;
		margin-bottom: 20px;
		display: inline-block;
		background-position: center center !important;
		background-repeat: no-repeat !important;
	}

}

@media all and (max-width: 785px) {

	.about_page .about_block .description aside {
		width: 100%;
		font-size: 16px;
	}

}

@media all and (max-width: 766px) {

	.about_page .about_block {
		width: 100%;
		margin: 45px auto 0 auto;
		padding: 0 25px;
		position: relative;
		left: 0;
		color: black;
	}

	.about_page .about_block .tagline {
		width: 100%;
		margin: 70px 0 37px 0;
		padding: 0;
		font-size: 18px;
	}

	.about_page .about_block .description p {
		width: 100%;
		padding: 0;
		position: relative;
		float: none;
		font-size: 13px;
		line-height: 2;
	}

	.about_page .about_block .description p:after {
		display: none;
	}

	.about_page .about_block .description aside {
		margin: 30px 0 0 0;
		float: none;
		font-size: 18px;
	}

	.about_page .about_block .description aside * {
		width: 100%;
		margin-bottom: 20px;
		padding: 0 0 0 30px;
	}

	.about_page .about_block .description aside span {
		margin: 0;
	}

	.about_page .about_block .description aside a:before,
	.about_page .about_block .description aside span:before {
		left: 0;
	}

}