extend basic.pug

block page_data
	- var main_title = 'Great introduction';
	- var page_name = 'main_page';

block styles
	link(rel="stylesheet", href="assets/styles.min.css")

block scripts
	script(src="assets/scripts.min.js")