@media all and (min-width: 1315px) {
	.main_page .advantages {
		background: url('../../images/main_page/backgrounds/advantages_bg.jpg') center bottom no-repeat;
	}
}

.main_page .advantages {
	width: calc(100% - 70px);
	margin: 60px auto 39px auto;
	background-size: auto 100%;
	background-color: #959bd0;
}

.main_page .advantages_content {
	width: 1170px;
	height: 255px;
	margin: 0 auto;
	padding: 10px 0;
}

.main_page .advantages_why_us {
	width: 700px;
	height: 95px;
	margin: 75px 0 0 0;
	float: left;
}

.main_page .advantages_why_us h3 {
	width: 230px;
	float: left;
	font-size: 24px;
	font-weight: 100;
}

.main_page .advantages_why_us h5 {
	width: 100px;
	height: 100%;
	margin-left: 50px;
	padding: 47px 0 0 0;
	font-size: 16px;
	font-weight: 100;
	float: right;
	background: url('../../images/global/icons/cup.png');
	background-repeat: no-repeat !important;
	background-position: left top !important;
}

.main_page .advantages_content .tags_block {
	width: 279px;
	padding: 20px;
	height: 234px;
	float: right;
	border: 1px white solid;
	border-radius: 5px;
	background: white;
}

.main_page .advantages_content .tags_block a {
	height: 24px;
	display: inline-block;
	padding: 0 10px;
	margin: 0 10px 10px 0;
	border-radius: 3px;
	line-height: 24px;
	font-size: 14px;
	background: #3a428e;
	transition: background 0.3s;
}

.main_page .advantages_content .tags_block a:hover {
	background: #e18432;
}

