/***** Header responive *****/


@media all and (max-width: 900px) {
	header {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
	body {
		background: #07080c;
	}
	header:before {
		display: none;
	}
	.header_mobile {
		height: 0;
		width: 100%;
		padding-bottom: 90%;
		position: relative;
		background: url('../images/mobile/bg_header_mobile.jpg') no-repeat center bottom;
		background-size: 100% auto;
		margin-bottom: 8%;
	}
	.iframe_cursor_and_play,
	header iframe {
		display: block;
	}
	.header_mobile * {
		padding: 0;
		margin: 0;
		font-size: 0;
		border: none;
	}
	.header_mobile_video {
		width: 83%;
		height: 46.89%;
		background: url('../images/mobile/header_video_mobile.jpg') no-repeat center;
		background-size: 100% auto;
		display: block;
		position: absolute;
		left: 8.5%;
		top: 16%;
		border: 5px rgb(200, 200, 200) solid;
	}
	.header_mobile h1 {
		font-size: 4rem;
		padding: 2% 0 0 0;
		line-height: 120%;
	}
	.header_mobile h1 br {
		display: inline;
	}
	.ru,
	.eng {
		width: 8.5%;
		height: 6.5%;
		top: 1%;
		transition: -webkit-filter 0.3s, filter 0.3s;
		background-size: 100% auto;
	}
	.ru {
		left: 1%;
	}
	.eng {
		right: 1%;
	}
	.link_block {
		width: 100%;
		height: 8.5%;
		bottom: -3%;
		left: 14.5%;
	}
	.link_block a {
		width: 21.5%;
		height: 100%;
		margin-left: 3.1%;
	}
	header h3 {
		width: 100%;
		height: 5%;
		position: absolute;
		left: 1%;
		bottom: -11%;
		font-size: 0;
		background: url('../images/basic/free.png') no-repeat center;
		background-size: auto 100%;
	}
	header:after {
		display: none;
	}
	.mob_header_bottom_line {
		width: 100%;
		padding-bottom: 5%;
		left: 0;
		bottom: top;
		background: url('../images/basic/blue_line_0.png') no-repeat center bottom;
		background-size: 150% auto;
	}
}

@media all and (min-width: 900px) {
	.mob_video_header {
		display: none;
	}
}

@media all and (max-width: 900px) {		/* Not o_mini header video */
	header iframe {
		width: 80%;
		height: 42vw;
		background: url('../images/mobile/header_video_mobile.jpg') no-repeat center;
		background-size: 100% 100%;
		position: absolute;
		left: 10%;
		top: 16%;
		margin-top: 0;
		border: 4px rgba(250, 250, 250, 0.5) solid !important;
		transition: all 0.3s;
		z-index: 3;
		box-sizing: border-box;
	}

	header .iframe_cursor_and_play {
		width: 80%;
		height: 42vw;
		position: absolute;
		left: 10%;
		top: 16%;
		margin-left: 0;
		cursor: pointer;
		z-index: 20;
	}
	.iframe_cursor_and_play div {
		display: none;
	}
}

.o_mini_video_hide { /* For Opera mini */
	z-index: -100 !important;
	opacity: 0 !important;
}


/***** Header responive end *****/



/***** Main responive *****/


@media all and (max-width: 900px) {

main {
	width: 100%;
	background: url('../images/mobile/main_mean_bg.jpg') top;
	background-size: 100% auto;
	position: relative;
}

main p {
	width: 94%;
	font-size: 15px;
	margin: 0 auto;
	padding-top: 3%;
	position: relative;
	line-height: 120%;
}

main p br {
	display: none;
}

main p:last-of-type:after {
	content: "";
	width: 100%;
	height: 30px;
	background: url('../images/basic/blue_shadow_1.png') no-repeat bottom;
	background-size: 100% auto;
	position: absolute;
	left: 0;
	bottom: -12px;
}

.images_under_main_p {
	width: 100%;
	height: auto;
	padding-top: 0;
	margin-bottom: 0;
	position: static;
}

.images_under_main_p .current_picture {
	display: none;
	position: static;

}

.preview_block {
	width: 90%;
	height: auto;
	position: static;
	left: 18%;
	bottom: 0;
	margin: 0 auto;
	padding-bottom: 10px;
}

.preview_block article {
	width: 100%;
	height: 0;
	display: block;
	float: none;
	cursor: pointer;
	margin-left: 0;
	border: 4px rgba(250, 250, 250, 0.3) solid !important;
	background-size: 100% 100% !important;
	box-shadow: none;
	transition: all 0.3s;
	padding-bottom: 57%;
	margin-bottom: 4%;
}

.preview_block article:first-of-type {
	margin: 27px auto 4% auto;
}

.preview_block article:last-of-type {
	margin: 10px auto 0 auto;
}

.images_under_main_p aside {
	display: none;
}

}


/***** Main responive end *****/



/***** Choose your side *****/

@media all and (max-width: 900px) {

.choose_your_side {
	width: 100%;
	background: #141c24;
}

.choose_your_side h2 {
	width: 100%;
	height: auto;
	background: url('../images/basic/blue_shadow_2.png') no-repeat 50% 0,
				url('../images/basic/choose.png') no-repeat center;
	background-size: 150% 30px, auto 50%;
	padding: 5% 0 7% 0;
}

.confederation {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	background: url('../images/mobile/blue_side_o_mini.jpg') no-repeat bottom;
	background-size: 100% auto;
	position: relative;
}

.confederation p,
.resistance p {
	opacity: 0;
}

.resistance {
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	background: url('../images/mobile/red_side_o_mini.jpg') no-repeat bottom;
	background-size: 100% auto;
	position: relative;
	margin-top: 5%;
}

.choose_your_side p {
	width: 60%;
	position: absolute;
	right: 4%;
	top: 10%;
	text-align: right;
	font-size: 3.6vw;
}

.resistance p {
	width: 65% !important;
	right: auto;
	left: 3%;
	top: 10%;
	text-align: left;
	font-size: 3.6vw;
}

.mob_fraction_video {
	width: 64%;
	padding-bottom: 34%;
	background: red;
	display: block;
	position: absolute;
	right: 4%;
	bottom: 3%;
	background: url('../images/mobile/blue_side_video_mobile.jpg') no-repeat center;
	background-size: 100% 100%;
	border: 5px #1992cc solid;
	box-sizing: border-box;
	box-shadow: 0 0 30px #1992cc;
}

.resistance .mob_fraction_video {
	background: url('../images/mobile/red_side_video_mobile.jpg') no-repeat center;
	background-size: 100% 100%;
	right: auto;
	left: 3%;
	border: 5px #d10300 solid;
	box-shadow: 0 0 30px #d10300;
}

.choose_your_side h3 {
	opacity: 0;
}

.choose_your_side iframe {
	width: 60%;
	height: 33vw;
	border: none;
	background: url('../images/mobile/blue_side_video_mobile.jpg') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: auto;
	bottom: 4%;
	left: auto;
	right: 3.5%;
	margin-left: 0;
	border: 4px rgba(21, 151, 214, 0.5) solid;
	box-shadow: 0 0 35px rgba(21, 151, 214, 0.4);
	z-index: 3;
}

.choose_your_side .resistance iframe {
	background: url('../images/mobile/red_side_video_mobile.jpg') no-repeat;
	background-size: 100% 100%;
	right: auto;
	left: 3%;
	border: 4px rgba(250, 0, 0, 0.5) solid;
	box-shadow: 0 0 35px rgba(210, 0, 0, 0.4);
}

.iframe_cursor_and_play_2,
.iframe_cursor_and_play_3 {
	width: 60%;
	height: 33vw;
	border: none;
	position: absolute;
	top: auto;
	bottom: 5%;
	left: auto;
	right: 3.5%;
	margin-left: 0;
	cursor: pointer;
	z-index: 5;
}

.iframe_cursor_and_play_3 {
	right: auto;
	left: 3%;
}

.iframe_cursor_and_play_2 div,
.iframe_cursor_and_play_3 div {
	display: none;
}

html {
	overflow-x: hidden;
}

}

/***** Choose your side end *****/



/***** Footer *****/


@media all and (max-width: 900px) {


footer .social_block {
	width: 100%;
	height: 0;
	margin: 0 auto;
	padding: 3% 0 12.8% 0;
	background: url('../images/basic/blue_shadow_3.png') no-repeat center 90%;
	background-size: 100% auto;
}

.social_block a {
	width: 9.5%;
	height: 0;
	padding-bottom: 10%;
	display: inline-block;
	transition: -webkit-filter 0.3s, filter 0.3s;
	margin-left: 1%;
}

.social_block a:first-of-type {
	margin-left: 0;
}

footer p {
	display: none;
}

.mobile_footer_about {
	width: 100%;
	padding-bottom: 12%;
	display: block;
	background: url('../images/mobile/mob_footer.png') no-repeat;
	background-size: 100% auto;
	margin: 1% 0 3% 0;
}


}


/***** Footer end *****/



/***** Hide desktop videos  *****/


@media all and (max-width: 900px) {

.iframe_cursor_and_play,
.iframe_cursor_and_play_2,
.iframe_cursor_and_play_3,
.blu_side_video_youtube,
.red_side_video_youtube,
#video_youtube {
 	z-index: 10;
}

}


/***** Hide desktop videos end  *****/