@media all and (min-width: 767px) and (max-width: 1314px) {
	.main_page header {
		left: 30px !important;
		background: url('../../images/main_page/backgrounds/mobile/header_bg_1_1314.jpg') center top no-repeat;
	}
}

@media all and (max-width: 1314px) {

	.main_page header {
		min-height: auto;
		left: 30px !important;
		margin-bottom: 8px;
		background-size: auto 100%;
	}

	.main_page .header_content {
		width: calc(100vw - 60px);
		height: 100%;
		margin: 0 auto;
	}

	.main_page h1 {
		width: 100%;
		height: auto;
		font-size: 4.5vw;
		text-shadow: 1px 1px 3px black, -1px -1px 3px black, -1px -1px 3px black;
	}

	.main_page .search_block {
		width: 85%;
		height: 7.3vw;
		padding: 0 3vw;
	}

	.main_page .search_block h5 {
		line-height: 3.7vw;
	}

}

@media all and (max-width: 766px) {

	.main_page header {
		left: 0px !important;
		height: auto;
		padding: 0 0 8px 0;
		background: url('../../images/main_page/backgrounds/mobile/header_bg_1_767.jpg') center top no-repeat;
	}

	.main_page .header_content {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	.main_page h1 {
		width: 100%;
		margin: 30px 0 0 0;
		padding: 0 3vw;
		height: auto;
		font-size: 20px;
	}

	.main_page .search_block {
		width: 100%;
		height: auto;
		margin: 30px 0 0 0;
		padding: 7vw 3vw;
	}

	.main_page .search_block h5 {
		height: 30px;
		margin: 0 0 10px 0;
		line-height: 32px;
	}

	.main_page .search_block select {
		min-width: 100%;
		height: 30px;
		margin: 0 0 10px 0;
		cursor: pointer;
		background: white url('../../images/global/icons/select_arrow.png') no-repeat 90% center;
	}

	.main_page .search_block select * {
		background: white;
		height: 30px;
	}

	.main_page .search_block button {
		min-width: 70%;
		max-width: 70%;
		height: 30px;
		flex: 2;
		cursor: pointer;
		background: #e18432;
		font-size: 15px;
		text-align: center;
		color: white;
	}

}