@media all and (max-width: 1314px) {

	.main_page .recommendations_from_travelers {
		width: calc(100vw - 120px);
		margin: 0 auto;
		left: 30px;
		color: black;
	}

	.main_page .recommend_slider_3 {
		width: 100%;
	}

	.main_page .recommend_slider_3 .swiper-slide a {
		padding: 150px 20px 20px 20px;
	}

	.main_page .recommend_slider_3 .swiper-slide {
		background-size: 100% 150px !important;
		background-repeat: no-repeat !important;
		background-position: center -10px !important;
	}

	.main_page .recommend_slider_3 .swiper-slide a:after {
		content: '';
		width: 100%;
		height: 56px;
		position: absolute;
		left: 0;
		top: 86px;
		background: linear-gradient( to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8) );
	}

	.main_page .from_travelers_price {
		position: absolute;
		left: 20px;
		top: 110px;
		font-size: 13px;
		z-index: 1;
	}

}


@media all and (max-width: 767px) {


	.main_page .recommendations_from_travelers {
		width: 100%;
		margin: 0 auto;
		left: 0;
		color: black;
	}

	.main_page .recommend_slider_3 {
		width: 100%;
	}

	.main_page .recommendations_from_travelers h4 {
		width: 100%;
		height: auto;
		margin: 0 0 17px 0;
		padding: 0 0 17px 0;
		font-size: 14px;
		font-weight: 100;
		line-height: 1;
		text-align: center;
	}

	.main_page .recommendations_from_travelers .swiper-button-next {
		background: url('../../images/global/icons/slider_arrow.png') no-repeat center center !important;
		-webkit-filter: brightness(0.7);
		filter: brightness(0.7);
	}

	.main_page .recommendations_from_travelers .swiper-button-prev {
		transform: scale(-1, 1);
		background: url('../../images/global/icons/slider_arrow.png') no-repeat center center !important;
		-webkit-filter: brightness(0.7);
		filter: brightness(0.7);
	}

}


@media all and (max-width: 400px) {

	.main_page .recommend_slider_3 .swiper-slide {
		background-size: 100% 210px !important;
		background-repeat: no-repeat !important;
		background-position: center -70px !important;
	}

	.main_page .recommend_slider_3 {
		min-height: auto;
	}

}


.main_page .recommendations_from_travelers h4:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #e18432;
}

.main_page .swiper2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main_page .swiper2 .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.main_page .recommend_slider_3 .swiper-slide:nth-of-type(1) {
	background: url('../../images/main_page/slider_3/slide_1.jpg');
}

.main_page .recommend_slider_3 .swiper-slide:nth-of-type(2) {
	background: url('../../images/main_page/slider_3/slide_2.jpg');
}

.main_page .recommend_slider_3 .swiper-slide:nth-of-type(3) {
	background: url('../../images/main_page/slider_3/slide_3.jpg');
}

.main_page .recommend_slider_3 .swiper-slide:nth-of-type(4) {
	background: url('../../images/main_page/slider_3/slide_4.jpg');
}

.main_page .recommend_slider_3 .swiper-slide:hover {
	background-color: #e8e9f3 !important;
}

.main_page .from_travelers_price span {
	font-size: 16px;
	font-weight: 700;
}

.main_page .from_travelers_content {
	width: 100%;
	min-height: 100px;
	color: black;
}

.main_page .from_travelers_content > h5 {
	font-size: 18px;
}

.main_page .from_travelers_location {
	position: relative;
	padding: 0 0 0 20px;
	margin: 12px 0 0 0;
	font-size: 13px;
	background: url('../../images/global/icons/location.png') no-repeat left center;
	background-size: auto 90%;
	color: #717171;
}

.main_page .from_travelers_rating {
	position: relative;
	font-size: 13px;
}

.main_page .from_travelers_rating:after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -20px;
	background: #dcdcdc;
}

.main_page .from_travelers_rating_data {
	height: 20px;
	margin: 12px 9px 0 0;
	padding: 0 7px;
	display: inline-block;
	line-height: 20px;
	border-radius: 3px;
	background: #7ea800;
	color: white;
}

.main_page .traveler_review {
	margin: 35px 0 0 0;
	font-size: 13px;
}

.main_page .reviewer_name {
	padding: 0 0 0 15px;
	position: relative;
	font-weight: 700;
}

.main_page .reviewer_name:before {
	content: '';
	width: 11px;
	height: 11px;
	position: absolute;
	left: 0;
	top: 1px;
	background: url('../../images/global/icons/user.png') no-repeat;
	background-size: auto 100%;
}

.main_page .traveler_review_date {
	font-style: italic;
	color: #717171;
}

.main_page .traveler_review p {
	margin: 15px 0 0 0;
	color: #717171;
}