@media all and (max-width: 1314px) {

	.main_page .promotions_and_rating {
		width: calc(100vw - 60px);
		padding: 0 30px;
		left: 30px;
	}

	.main_page .promotions_and_rating > * {
		width: 100%;
		flex: none;
		height: 500px;
		margin: 0 0 30px 0;
	}

	.main_page .promotions_and_rating .rating {
		position: relative;
		top: -18px;
	}

}


@media all and (max-width: 767px) {

	.main_page .promotions_and_rating {
		width: 100%;
		margin: 10px 0 0 0;
		padding: 0;
		left: 0;
	}

	.main_page .promotions_and_rating > * {
		width: 100%;
		flex: none;
		min-height: 500px;
		height: auto;
		margin: 0 0 30px 0;
	}

	.main_page .promotions_and_rating .title_block h3 {
		padding: 0 0 0 15px;
		float: left;
		line-height: 10px;
		font-size: 14px;
		font-weight: 100;
	}

	.main_page .promotions_and_rating .title_block a {
		padding: 0 15px 0 0;
		float: right;
		font-size: 14px;
		color: #e38c40;
		line-height: 10px;
	}

}


@media all and (max-width: 490px) {

	.main_page .promotions_and_rating {
		width: 100%;
		margin: 10px 0 0 0;
		padding: 0;
		left: 0;
	}

	.main_page .promotions_and_rating > * {
		width: 100%;
		flex: none;
		min-height: 500px;
		height: auto;
		margin: 0 0 30px 0;
	}

	.main_page .promotions_and_rating .title_block h3 {
		padding: 0 0 0 15px;
		float: left;
		line-height: 10px;
		font-size: 14px;
		font-weight: 100;
	}

	.main_page .promotions_and_rating .title_block a {
		padding: 0 15px 0 0;
		float: right;
		font-size: 14px;
		color: #e38c40;
		line-height: 10px;
	}

	.main_page .offers_block .offer {
		width: 100%;
		height: 137px;
		margin-bottom: 10px;
		position: relative;
		border-radius: 3px;
		background: none !important;
		box-shadow: 0 1px 3px #d7d7dc;
		transition: all 0.3s;
	}

	.main_page .offer .offer_content {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 21px;
		background: white;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.main_page .offer_content .left_block,
	.main_page .offer_content .right_block {
		padding: 5px 0 0 0;
	}

	.main_page .offer .promotions_icon {
		height: 12px;
		padding: 0 5px;
		display: inline-block;
		position: absolute;
		left: 6px;
		top: 6px;
		border-radius: 3px;
		line-height: 12px;
		font-size: 8px;
		color: white;
		background: #e03339;
	}

	.main_page .offer_content .offer_location {
		margin-top: 5px;
		padding: 0 0 0 12px;
		position: relative;
		font-size: 13px;
		color: #717171;
	}

	.main_page .offer_content .left_block h5 {
		font-size: 14px;
	}

	.main_page .offer_content .left_block .offer_rating {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 9px;
	}

	.main_page .right_block .offer_description {
		font-size: 10px;
		font-style: italic;
		text-align: right;
		color: #717171;
	}

	.main_page .right_block .offer_cost {
		position: absolute;
		right: 0;
		bottom: 3px;
		font-size: 16px;
		font-weight: 700;
	}

}