@import url(https://fonts.googleapis.com/css?family=Coda);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);



/* Basic */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #5c97bf;
}

.main {
	width: 580px;
	height: 327px;
	border: 1px black solid;
	box-sizing: border-box;
	background-color: black;
	background-size: 100% auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -290px;
}

/* Basic end */



/* Logo */
   

.logo_main {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-animation: logo_main_anim 10s forwards;
	        animation: logo_main_anim 10s forwards;
	opacity: ;
}

@-webkit-keyframes logo_main_anim {
	100% {
		opacity: ;
	}
}

@keyframes logo_main_anim {
	100% {
		opacity: ;
	}
}

.logo {
	width: 500px;
	height: 65px;
	background: url(../images/logo.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -32.5px;
	position: absolute;
	z-index: 6;
	-webkit-animation: logo_anim 3s forwards linear;
	        animation: logo_anim 3s forwards linear;
	opacity: 0;
}

@-webkit-keyframes logo_anim  {
	100% {
		opacity: 1;
	}
}

@keyframes logo_anim  {
	100% {
		opacity: 1;
	}
}

.logo:after {
	content: "";
	width: 162px;
	height: 45px;
	background: url(../images/games.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	right: 10px;
	top: 72px;
	-webkit-animation: logo_after_anim 3s 0.9s forwards linear;
	        animation: logo_after_anim 3s 0.9s forwards linear;
	opacity: 0;
}

@-webkit-keyframes logo_after_anim  {
	100% {
		opacity: 1;
	}
}

@keyframes logo_after_anim  {
	100% {
		opacity: 1;
	}
}

.cogwheel {
	width: 210px;
	height: 210px;
	background: url(../images/cogwheel.png) no-repeat;
	position: absolute;
	z-index: 5;
	left: 225px;
	top: 60px;
	-webkit-animation: cogwheel_anim 2s infinite forwards linear, cogwheel_opacity_anim 3s 2.1s forwards linear;
	        animation: cogwheel_anim 2s infinite forwards linear, cogwheel_opacity_anim 3s 2.1s forwards linear;
	-webkit-transform-origin: 105px 105px;
	        transform-origin: 105px 105px;
	opacity: 0;
}

@-webkit-keyframes cogwheel_anim {
	100% {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}

@keyframes cogwheel_anim {
	100% {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}

@-webkit-keyframes cogwheel_opacity_anim {
	100% {
		opacity: 1;
	}
}

@keyframes cogwheel_opacity_anim {
	100% {
		opacity: 1;
	}
}

.cogwheel:after {
	content: "";
	width: 210px;
	height: 210px;
	background: url(../images/circlepng.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	z-index: 1;
	-webkit-animation: cogwheel_after_anim 3s infinite forwards linear;
	        animation: cogwheel_after_anim 3s infinite forwards linear;
	-webkit-transform-origin: 105px 105px;
	        transform-origin: 105px 105px;
}

@-webkit-keyframes cogwheel_after_anim {
	100% {
		-webkit-transform: rotateZ(-720deg);
		        transform: rotateZ(-720deg);
	}
}

@keyframes cogwheel_after_anim {
	100% {
		-webkit-transform: rotateZ(-720deg);
		        transform: rotateZ(-720deg);
	}
}


/* Logo end */



/* Face */


.face_main {
	width: 580px;
	height: 327px;
	background: url(../images/face_main.png) no-repeat;
	position: absolute;
	-webkit-animation: face_main_anim 2s infinite forwards linear;
	        animation: face_main_anim 2s infinite forwards linear;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	-webkit-transform-origin: 20% 50%;
	        transform-origin: 20% 50%;
}

.face_left {
	width: 580px;
	height: 327px;
	background: url(../images/face_left.png) no-repeat;
	position: absolute;
	-webkit-animation: face_left_anim 0.05s infinite forwards linear;
	        animation: face_left_anim 0.05s infinite forwards linear;
	-webkit-transform: translateZ(0) translateX(0);
	        transform: translateZ(0) translateX(0);
}

@-webkit-keyframes face_left_anim {
	5 0% {
		-webkit-transform: translateZ(0) translateX(-1px);
		        transform: translateZ(0) translateX(-1px);
		opacity: 0.95;
	}
	100% {
		-webkit-transform: translateZ(0) translateX(1px);
		        transform: translateZ(0) translateX(1px);
		opacity: 0.95;
	}
}

@keyframes face_left_anim {
	50% {
		-webkit-transform: translateZ(0) translateX(-1px);
		        transform: translateZ(0) translateX(-1px);
	}
	100% {
		-webkit-transform: translateZ(0) translateX(1px);
		        transform: translateZ(0) translateX(1px);
		opacity: 0.85;
	}
}

.face_right {
	width: 580px;
	height: 327px;
	background: url(../images/face_right.png) no-repeat;
	position: absolute;
	-webkit-animation: face_right_anim 0.05s infinite forwards linear;
	        animation: face_right_anim 0.05s infinite forwards linear;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

@-webkit-keyframes face_right_anim {
	50% {
		-webkit-transform: translateZ(0) translateX(1px);
		        transform: translateZ(0) translateX(1px);
		opacity: 0.95;
	}
	100% {
		-webkit-transform: translateZ(0) translateX(-1px);
		        transform: translateZ(0) translateX(-1px);
		opacity: 0.95;
	}
}

@keyframes face_right_anim {
	50% {
		-webkit-transform: translateZ(0) translateX(1px);
		        transform: translateZ(0) translateX(1px);
		opacity: 0.95;
	}
	100% {
		-webkit-transform: translateZ(0) translateX(-1px);
		        transform: translateZ(0) translateX(-1px);
		opacity: 0.95;
	}
}

.face_bottom {
	width: 580px;
	height: 327px;
	background: url(../images/face_bottom.png) no-repeat;
	position: absolute;
	-webkit-animation: face_bottom_anim 0.05s infinite forwards linear;
	        animation: face_bottom_anim 0.05s infinite forwards linear;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

@-webkit-keyframes face_bottom_anim {
	50% {
		-webkit-transform: translateZ(0) translateY(-1px);
		        transform: translateZ(0) translateY(-1px);
		opacity: 0.95;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(1px);
		        transform: translateZ(0) translateY(1px);
		opacity: 0.95;
	}
}

@keyframes face_bottom_anim {
	50% {
		-webkit-transform: translateZ(0) translateY(-1px);
		        transform: translateZ(0) translateY(-1px);
		opacity: 0.95;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(1px);
		        transform: translateZ(0) translateY(1px);
		opacity: 0.95;
	}
}


/* Face end */



/* Title */


#title_main * {
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}


/* Title end */



/* On GOG */


h1 {
	font-size: 1.3em;
	color: white;
	position: absolute;
	right: 10px;
	bottom: 3px;
	font-family: 'Coda', cursive;
	font-weight: normal;
	letter-spacing: 1px;
}


/* On GOG end */



/* Main frames */


.frame_one {
	-webkit-animation: frame_one_anim 2s 7s forwards;
	        animation: frame_one_anim 2s 7s forwards;
}

@-webkit-keyframes frame_one_anim {
	100% {
		opacity: 0;
	}
}

@keyframes frame_one_anim {
	100% {
		opacity: 0;
	}
}

.frame_two {
	width: 580px;
	height: 327px;
	border: 1px black solid;
	box-sizing: border-box;
	background: url(../images/maxresdefault.png) no-repeat;
	position: absolute;
	opacity: 0;
	z-index: 10;
	-webkit-animation: frame_two_anim 2s 9s forwards;
	        animation: frame_two_anim 2s 9s forwards;
}

@-webkit-keyframes frame_two_anim {
	100% {
		opacity: 1;
	}
}

@keyframes frame_two_anim {
	100% {
		opacity: 1;
	}
}

.face_container {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-animation: face_anim 10s 9s forwards;
	        animation: face_anim 10s 9s forwards;
	opacity: 0;
}

@-webkit-keyframes face_anim {
	100% {
		opacity: 1;
	}
}

@keyframes face_anim {
	100% {
		opacity: 1;
	}
}

.title {
	width: 320px;
	height: 327px;
	position: absolute;
	right: 0px;
	-webkit-animation: title_anim 5s 9s forwards linear;
	        animation: title_anim 5s 9s forwards linear;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	opacity: 0;
}

@-webkit-keyframes title_anim {
	100% {
		opacity: 1;
	}
}

@keyframes title_anim {
	100% {
		opacity: 1;
	}
}

h1 {
	-webkit-animation: h_one_anim 3s 10s forwards linear;
	        animation: h_one_anim 3s 10s forwards linear;
	opacity: 0;
}

@-webkit-keyframes h_one_anim {
	100% {
		opacity: 1;
	}
}

@keyframes h_one_anim {
	100% {
		opacity: 1;
	}
}


/* Main frames end */



/**** Description ****/

html, body {
	background: #5c97bf !important;
}

.description {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: opacity 0.5s, transform 0.5s 0.5s;
}

.description_hide {
	opacity: 0;
	transform: translateY(-100%);
}

.description h5 {
	padding: 7px 0;
	background: #b2cee1;
	font-weight: 300;
	color: black;
}

.description h5 a {
	color: inherit;
	text-decoration: none;
}

.description .close_icon {
	width: 10px;
	height: 10px;
	display: inline-block;
	position: absolute;
	right: 24px;
	top: 12px;
	cursor: pointer;
}

.description .close_icon:after {
	content: '';
	width: 15px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	transform: rotateZ(45deg);
	transform-origin: 0 0;
}

.description .close_icon:before {
	content: '';
	width: 15px;
	height: 1px;
	position: absolute;
	right: 0;
	top: 0;
	background: black;
	transform: rotateZ(-45deg);
	transform-origin: 100% 0;
}

.description .close_icon:hover:after,
.description .close_icon:hover:before {
	background: red;
}


/**** Description ****/